Whatsapp agent con n8n y mcp/n8n/exports/ESCALO-MVP-V2_2026-07-10_medios-pago.json
{"updatedAt":"2026-07-10T15:04:21.367Z","createdAt":"2026-07-09T13:16:44.543Z","id":"6IB9N46IpcmpnXmX","name":"ESCALO-MVP-V2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"escalo-v2-test","responseMode":"responseNode","options":{}},"id":"dffee735-b1a8-4e72-b9aa-08f07a9f3e2b","name":"Webhook ESCALO","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[256,16],"webhookId":"c32a831e-7f1e-4406-a829-23876b5418db"},{"parameters":{"jsCode":"const inp = $input.first().json;\nconst body = inp.body || inp;\nconst errores = [];\nconst limpiarTel = (v) =\u003e v ? String(v).replace(/[^0-9]/g, \u0027\u0027) : \u0027\u0027;\nconst cap = (v) =\u003e { if (!v) return \u0027\u0027; v = String(v).trim().toLowerCase(); return v.charAt(0).toUpperCase() + v.slice(1); };\nlet contacto = limpiarTel(body.contacto || body.telefono || body.phone || body.from);\nif (!contacto) { contacto = \u0027desconocido\u0027; errores.push(\u0027contacto_ausente\u0027); }\nconst nombre = body.nombre ? cap(body.nombre) : \u0027\u0027;\nlet canal = String(body.canal || body.channel || \u0027webhook-test\u0027).trim().toLowerCase();\nif (![\u0027whatsapp\u0027,\u0027instagram\u0027,\u0027web\u0027,\u0027webhook-test\u0027,\u0027otro\u0027,\u0027desconocido\u0027].includes(canal)) canal = \u0027otro\u0027;\nlet mensaje = String(body.mensaje || body.message || body.texto || \u0027\u0027).trim();\nif (!mensaje) { errores.push(\u0027mensaje_vacio\u0027); }\nconst timestamp = new Date().toISOString();\nreturn [{ json: { lead: { contacto, nombre, canal, mensaje }, timestamp, errores } }];"},"id":"f8fd9738-7293-493f-8581-7fe058cedee6","name":"1. Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,16]},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_LEADS","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"CONTACTO","lookupValue":"={{ $json.lead.contacto }}"}]},"options":{}},"id":"9178ea00-88c9-4f73-bb05-a5ba2d65b76c","name":"Buscar Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[672,16],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_STOCK","mode":"name"},"options":{}},"id":"d4134462-6968-45c5-a834-f63b69e32716","name":"Leer Stock","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,16],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Junta lead + lead existente + stock filtrado + info negocio + historial y arma el prompt minimo para la IA\nconst base = $(\u00271. Normalizar\u0027).first().json;\nconst lead = base.lead;\n\nconst norm = (s) =\u003e String(s || \u0027\u0027).toLowerCase().normalize(\u0027NFD\u0027).replace(/[̀-ͯ]/g, \u0027\u0027);\nconst msg = norm(lead.mensaje);\nconst findKey = (obj, frag) =\u003e Object.keys(obj).find(k =\u003e norm(k).includes(frag));\n\n// Lead existente (Buscar Lead emite un item vacio si no hubo match)\nlet leadExistente = null;\ntry {\n  const rows = $(\u0027Buscar Lead\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 r.CONTACTO);\n  if (rows.length \u003e 0) leadExistente = rows[0];\n} catch (e) {}\n\n// Stock: solo filas cuyo MODELO aparece en el mensaje (max 5)\nlet stockRows = [];\ntry { stockRows = $(\u0027Leer Stock\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst stockCoincidente = [];\nfor (const row of stockRows) {\n  const kModelo = findKey(row, \u0027modelo\u0027);\n  if (!kModelo || !row[kModelo]) continue;\n  if (msg.includes(norm(row[kModelo]))) stockCoincidente.push(row);\n  if (stockCoincidente.length \u003e= 5) break;\n}\n\n// Info del negocio (pestana ESCALO_NEGOCIO, pares CLAVE/VALOR). Solo claves con valor real.\nlet negocioRows = [];\ntry { negocioRows = $(\u0027Leer Negocio\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst infoNegocio = [];\nfor (const row of negocioRows) {\n  const kC = findKey(row, \u0027clave\u0027);\n  const kV = findKey(row, \u0027valor\u0027);\n  if (!kC || !kV) continue;\n  const c = String(row[kC] || \u0027\u0027).trim();\n  const v = String(row[kV] || \u0027\u0027).trim();\n  if (!c || !v || norm(v) === \u0027completar\u0027) continue;\n  infoNegocio.push(c + \u0027: \u0027 + v);\n}\n\n// Historial reciente de ESTE contacto (ultimos 6 intercambios previos)\nlet histRows = [];\ntry { histRows = $(\u0027Leer Historial\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst soloDigitos = (s) =\u003e String(s || \u0027\u0027).replace(/[^0-9]/g, \u0027\u0027);\nconst telCliente = soloDigitos(lead.contacto);\nconst histCliente = [];\nfor (const row of histRows) {\n  const kTel = findKey(row, \u0027telefono\u0027);\n  if (!kTel || !telCliente || soloDigitos(row[kTel]) !== telCliente) continue;\n  const kMsg = findKey(row, \u0027mensaje\u0027);\n  const kResp = findKey(row, \u0027respuesta\u0027);\n  const kTs = findKey(row, \u0027timestamp\u0027);\n  histCliente.push({\n    ts: kTs ? String(row[kTs] || \u0027\u0027) : \u0027\u0027,\n    cliente: kMsg ? String(row[kMsg] || \u0027\u0027) : \u0027\u0027,\n    ia: kResp ? String(row[kResp] || \u0027\u0027) : \u0027\u0027\n  });\n}\nconst histReciente = histCliente.slice(-6);\nconst histTexto = histReciente.map(hx =\u003e \u0027Cliente: \u0027 + hx.cliente + \u0027\\nVos respondiste: \u0027 + hx.ia).join(\u0027\\n\u0027);\n\n// Senales deterministas de escalado (independientes de la IA)\nconst senales = [];\nif (/descuent|rebaj|negoci|mejor precio/.test(msg)) senales.push(\u0027descuento_negociacion\u0027);\nif (/financi|cuota|credito|prestamo/.test(msg)) senales.push(\u0027financiacion\u0027);\nif (/entrego|entregar|permuta|mi usado|toma de|tomarian/.test(msg)) senales.push(\u0027entrega_usado\u0027);\nif (/reclam|queja|problema|falla|garant/.test(msg)) senales.push(\u0027reclamo\u0027);\nif (/comprar|reserv|sena|senia|cerrar/.test(msg)) senales.push(\u0027cierre_compra\u0027);\n\nconst lineas = [];\nlineas.push(\u0027Sos el asistente IA de una concesionaria de autos. Analiza el mensaje del cliente y devolve SOLO un objeto JSON valido. Sin markdown, sin texto extra, sin bloques de codigo.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027REGLAS ESTRICTAS:\u0027);\nlineas.push(\u0027- NUNCA inventes precios, stock, colores, financiacion, descuentos ni disponibilidad. Solo pode usar lo que figura en STOCK CONFIRMADO.\u0027);\nlineas.push(\u0027- Si el dato que pide el cliente no esta en STOCK CONFIRMADO: no lo afirmes y marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- Horario, direccion, telefono, medios de pago, promociones y datos del negocio: respondelos SOLO con lo que figura en INFO DEL NEGOCIO. Si el dato no figura ahi, no lo inventes: respondele con una frase natural pidiendo confirmar ese dato (sin mencionar \"asesor\" ni el proceso interno) y marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- MEDIOS DE PAGO: si el cliente pregunta en general como puede pagar o que medios de pago hay, NO listes las opciones aunque figuren en INFO DEL NEGOCIO. Respondele natural que hay varias formas de manejarlo y preguntale como estaba pensando manejarse (contado, financiado, o entregando un usado en parte de pago). Recien si pregunta por UN medio puntual (ej: aceptan tarjeta?) confirmale SOLO ese dato segun INFO DEL NEGOCIO y segui con una pregunta que avance la venta. Tenes PROHIBIDO mencionar medios de pago que el cliente no pregunto (nada de: tambien podes pagar con..., o explorar financiacion, etc.).\u0027);\nlineas.push(\u0027- Respondé UNICAMENTE lo que el cliente pregunto en su mensaje. No agregues datos que no pidio aunque figuren en INFO DEL NEGOCIO o en el stock (ejemplo: si pregunta la ubicacion, no menciones el horario salvo que tambien lo haya preguntado).\u0027);\nlineas.push(\u0027- Para 0KM: solo confirma un color si figura en la columna COLORES DISP. del stock.\u0027);\nlineas.push(\u0027- Para USADO con condicion EN TALLER: no prometas visita inmediata.\u0027);\nlineas.push(\u0027- Nunca menciones ni estimes el valor de toma de un usado. Eso lo define un humano.\u0027);\nlineas.push(\u0027- dominio_patente y vehiculo_entregado refieren SOLO al vehiculo que el cliente ENTREGA en parte de pago. Nunca copies ahi la patente de un auto del stock. Si el cliente no entrega nada, dejalos vacios.\u0027);\nlineas.push(\u0027- Escalado obligatorio (requiere_escalado=true) si hay: pedido de descuento o negociacion, consulta especifica de financiacion, entrega de usado en parte de pago, reclamo, o intencion de cerrar compra/reserva/sena.\u0027);\nlineas.push(\u0027- FINANCIACION: no des detalles de planes ni tasas. Decile que hay opciones de financiacion y pedile el DNI y con cuanto anticipo cuenta, para que el equipo le prepare una simulacion. Marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- ENTREGA_USADO: decile que tomamos usados en parte de pago, sujeto a peritaje. Pedile marca, modelo, año, kilometraje y estado general del vehiculo para avanzar con una tasacion aproximada que hace el equipo. Nunca des vos un valor. Marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- Si el cliente pasa su DNI, anticipo o datos de su usado, incluilos en resumen_vendedor.\u0027);\nlineas.push(\u0027- Si falta informacion confirmada o tenes poca certeza: requiere_escalado=true y confianza baja.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027CONVERSACION (ida y vuelta):\u0027);\nlineas.push(\u0027- Tu objetivo es avanzar al cliente paso a paso hasta que agende una visita o quede calificado para el vendedor.\u0027);\nlineas.push(\u0027- Usa HISTORIAL RECIENTE como memoria: no repitas saludos, presentaciones ni preguntas ya hechas. Si HISTORIAL RECIENTE no esta vacio, tenes PROHIBIDO saludar de nuevo (nada de \"Hola\" ni usar el nombre como apertura): segui la charla directo, como si ya estuviera en curso.\u0027);\nlineas.push(\u0027- Si el cliente responde algo que ya veniamos hablando (color, modelo, visita), interpretalo en ese contexto.\u0027);\nlineas.push(\u0027- Cerra tu respuesta_cliente con UNA sola pregunta concreta que haga avanzar la venta (que modelo busca, 0km o usado, medio de pago, o proponer dia/hora de visita), salvo que corresponda escalar o el cliente ya haya agendado.\u0027);\nlineas.push(\u0027- Tono: humano y natural, porteño moderado (vos, dale, mirá) sin exagerar ni caer en caricatura. Mensajes cortos estilo WhatsApp, como los escribiria un vendedor real.\u0027);\nlineas.push(\u0027- No sones a asistente virtual: nada de \"estoy aqui para ayudarte\", \"en que mas te puedo ayudar?\" ni respuestas enlatadas. Varia la forma de arrancar cada mensaje.\u0027);\nlineas.push(\u0027- Prioriza preguntar antes que informar: da el minimo de informacion necesaria y termina calificando al cliente. Ejemplo: si preguntan por medios de pago, no listes todo; responde que hay varias opciones y pregunta con que medio estaba pensando manejarse.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027INTENCION (elegir UNA): DISPONIBILIDAD, PRECIO, STOCK, PROMOCION, FICHA_TECNICA, FINANCIACION, ENTREGA_USADO, AGENDAR_VISITA, DESCUENTO_NEGOCIACION, RECLAMO, INFO_GENERAL, TRABAJO_CV, POSVENTA_SERVICE, NO_ENTENDIDO\u0027);\nlineas.push(\u0027INFO_GENERAL = pregunta por horario, direccion, ubicacion, telefono, medios de pago u otra info del negocio.\u0027);\nlineas.push(\u0027TRABAJO_CV = pregunta por trabajo, empleo, busqueda laboral o quiere dejar su CV/curriculum.\u0027);\nlineas.push(\u0027POSVENTA_SERVICE = pregunta por service, garantia, taller o post-venta de un vehiculo ya comprado (no es venta de un vehiculo).\u0027);\nlineas.push(\u0027estado_lead: FRIO (consulta generica) | TIBIO (pregunta stock/precio/color/financiacion de un modelo puntual) | CALIENTE (quiere comprar, visitar, reservar o cerrar ya)\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027resumen_vendedor: breve y accionable, maximo 15 palabras, sin fecha. Si el cliente cambio de vehiculo de interes o de temperatura, indicalo ahi.\u0027);\nlineas.push(\u0027DEVOLVE EXACTAMENTE ESTA ESTRUCTURA JSON:\u0027);\nlineas.push(\u0027{\"intencion\":\"\",\"confianza\":\"alta|media|baja\",\"producto_mencionado\":\"\",\"tipo\":\"0KM|USADO|\",\"color_preferido\":\"\",\"medio_pago\":\"\",\"vehiculo_entregado\":\"\",\"dominio_patente\":\"\",\"presupuesto_aprox\":\"\",\"estado_lead\":\"FRIO|TIBIO|CALIENTE\",\"requiere_escalado\":false,\"motivo_escalado\":\"\",\"quiere_agendar\":false,\"fecha_hora_visita\":\"\",\"respuesta_cliente\":\"\",\"resumen_vendedor\":\"\",\"accion_recomendada\":\"\",\"proximo_paso\":\"\"}\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027DATOS:\u0027);\nlineas.push(\u0027INFO DEL NEGOCIO (unica fuente valida para datos del negocio): \u0027 + (infoNegocio.length ? infoNegocio.join(\u0027 | \u0027) : \u0027sin datos cargados\u0027));\nlineas.push(\u0027HISTORIAL RECIENTE CON ESTE CLIENTE (de mas viejo a mas nuevo):\u0027);\nlineas.push(histTexto || \u0027sin historial previo (primer contacto)\u0027);\nlineas.push(\u0027MENSAJE NUEVO DEL CLIENTE: \u0027 + lead.mensaje);\nlineas.push(\u0027NOMBRE: \u0027 + (lead.nombre || \u0027desconocido\u0027));\nlineas.push(\u0027CANAL: \u0027 + lead.canal);\nlineas.push(\u0027LEAD EXISTENTE: \u0027 + (leadExistente ? JSON.stringify(leadExistente) : \u0027ninguno (cliente nuevo)\u0027));\nlineas.push(\u0027STOCK CONFIRMADO (unico stock que existe): \u0027 + (stockCoincidente.length ? JSON.stringify(stockCoincidente) : \u0027sin coincidencias en stock\u0027));\nlineas.push(\u0027SENALES DETECTADAS POR SISTEMA: \u0027 + (senales.length ? senales.join(\u0027, \u0027) : \u0027ninguna\u0027));\n\nreturn [{ json: {\n  prompt: lineas.join(\u0027\\n\u0027),\n  lead,\n  timestamp: base.timestamp,\n  errores: base.errores || [],\n  existe: !!leadExistente,\n  lead_existente: leadExistente,\n  stock_coincidente: stockCoincidente,\n  info_negocio: infoNegocio,\n  historial_reciente: histReciente,\n  senales\n} }];\n"},"id":"4dc97efb-1a49-4b78-8958-195570d870c4","name":"Preparar Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,16]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"b79966b5-2b94-4b5a-a384-153d7f46bf9b","name":"AI Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1296,16]},{"parameters":{"model":"claude-haiku-4-5-20251001","options":{}},"id":"3c8fd729-940f-4f14-91cc-0d5dd54c7f81","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1,"position":[1296,240],"credentials":{"anthropicApi":{"id":"kbeF2OZ0AviWwmPH","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parseo y validacion determinista de la salida de la IA\nconst ctx = $(\u0027Preparar Contexto\u0027).first().json;\nconst lead = ctx.lead;\n\nconst raw = $input.first().json.text !== undefined ? $input.first().json.text : ($input.first().json.output || \u0027\u0027);\nlet ia = null;\ntry {\n  const limpio = String(raw).replace(/```json|```/g, \u0027\u0027).trim();\n  const ini = limpio.indexOf(\u0027{\u0027);\n  const fin = limpio.lastIndexOf(\u0027}\u0027);\n  if (ini \u003e= 0 \u0026\u0026 fin \u003e ini) ia = JSON.parse(limpio.substring(ini, fin + 1));\n} catch (e) { ia = null; }\n\nconst fallo_parseo = !ia;\nif (!ia) ia = { intencion: \u0027NO_ENTENDIDO\u0027, confianza: \u0027baja\u0027, respuesta_cliente: \u0027\u0027, resumen_vendedor: \u0027La IA no devolvio JSON valido. Revisar manualmente.\u0027, requiere_escalado: true, motivo_escalado: \u0027salida_ia_invalida\u0027 };\n\n// Enums validados por codigo\nconst INTS = [\u0027DISPONIBILIDAD\u0027,\u0027PRECIO\u0027,\u0027STOCK\u0027,\u0027PROMOCION\u0027,\u0027FICHA_TECNICA\u0027,\u0027FINANCIACION\u0027,\u0027ENTREGA_USADO\u0027,\u0027AGENDAR_VISITA\u0027,\u0027DESCUENTO_NEGOCIACION\u0027,\u0027RECLAMO\u0027,\u0027NO_ENTENDIDO\u0027,\u0027INFO_GENERAL\u0027,\u0027TRABAJO_CV\u0027,\u0027POSVENTA_SERVICE\u0027];\nif (!INTS.includes(ia.intencion)) ia.intencion = \u0027NO_ENTENDIDO\u0027;\nconst nrm = (s) =\u003e String(s || \u0027\u0027).toUpperCase().normalize(\u0027NFD\u0027).replace(/[\\u0300-\\u036f]/g, \u0027\u0027);\nconst est = nrm(ia.estado_lead);\nia.estado_lead = est === \u0027CALIENTE\u0027 ? \u0027CALIENTE\u0027 : (est === \u0027TIBIO\u0027 ? \u0027TIBIO\u0027 : \u0027FR\\u00cdO\u0027);\nif (![\u0027alta\u0027,\u0027media\u0027,\u0027baja\u0027].includes(ia.confianza)) ia.confianza = \u0027baja\u0027;\n\n// El escalado deterministico manda sobre la IA\nconst INT_ESC = [\u0027DESCUENTO_NEGOCIACION\u0027,\u0027FINANCIACION\u0027,\u0027ENTREGA_USADO\u0027,\u0027RECLAMO\u0027,\u0027NO_ENTENDIDO\u0027];\nconst motivos = [];\nif (ia.requiere_escalado === true) motivos.push(ia.motivo_escalado || \u0027criterio_ia\u0027);\nif ((ctx.senales || []).length \u003e 0) motivos.push(\u0027senales: \u0027 + ctx.senales.join(\u0027,\u0027));\nif (INT_ESC.includes(ia.intencion)) motivos.push(\u0027intencion_\u0027 + ia.intencion.toLowerCase());\nif (ia.confianza === \u0027baja\u0027) motivos.push(\u0027confianza_baja\u0027);\nia.requiere_escalado = motivos.length \u003e 0;\nia.motivo_escalado = motivos.join(\u0027 | \u0027);\n\n// TRABAJO_CV y POSVENTA_SERVICE: respuesta fija, nunca escalan, no las redacta la IA\nif (ia.intencion === \u0027TRABAJO_CV\u0027 || ia.intencion === \u0027POSVENTA_SERVICE\u0027) {\n  ia.requiere_escalado = false;\n  ia.motivo_escalado = \u0027\u0027;\n  if (ia.intencion === \u0027TRABAJO_CV\u0027) {\n    const horarioLinea = (ctx.info_negocio || []).find(l =\u003e l.toUpperCase().startsWith(\u0027HORARIO\u0027));\n    const horarioTxt = horarioLinea ? horarioLinea.split(\u0027:\u0027).slice(1).join(\u0027:\u0027).trim() : \u0027nuestro horario de atencion\u0027;\n    ia.respuesta_cliente = \u0027Para dejar tu CV podes acercarte en persona a cualquiera de nuestras sucursales, dentro del horario de atencion: \u0027 + horarioTxt + \u0027.\u0027;\n  } else {\n    ia.respuesta_cliente = \u0027Estas hablando con el equipo de ventas. Para consultas de post-venta o service, escribinos por WhatsApp al 1151321582.\u0027;\n  }\n}\n\nif (!ia.respuesta_cliente) {\n  ia.respuesta_cliente = ia.requiere_escalado\n    ? \u0027Dejame confirmar bien ese dato y te escribo enseguida.\u0027\n    : \u0027Contame un poco mas asi te oriento mejor.\u0027;\n}\n\n// Fila ESCALO_LEADS: nunca pisar datos existentes con vacio. PRECIO DE TOMA no se toca.\nconst ex = ctx.lead_existente || {};\nconst elegir = (nuevo, viejo) =\u003e (nuevo !== undefined \u0026\u0026 nuevo !== null \u0026\u0026 String(nuevo).trim() !== \u0027\u0027) ? String(nuevo).trim() : (viejo !== undefined \u0026\u0026 viejo !== null ? String(viejo) : \u0027\u0027);\nconst ahora = new Date();\nconst fecha = ahora.toISOString().substring(0, 10);\n// OBSERVACIONES IA: sin fecha, breve. Registra cambios de interes y de temperatura para el vendedor.\nlet obs = ex[\u0027OBSERVACIONES IA\u0027] ? String(ex[\u0027OBSERVACIONES IA\u0027]) : \u0027\u0027;\nconst cambios = [];\nconst vehAnt = String(ex[\u0027VEHÍCULO DE INTERÉS\u0027] || \u0027\u0027).trim();\nconst vehNuevo = String(ia.producto_mencionado || \u0027\u0027).trim();\nif (vehNuevo \u0026\u0026 vehAnt \u0026\u0026 nrm(vehNuevo) !== nrm(vehAnt)) cambios.push(\u0027nuevo interes: \u0027 + vehNuevo + \u0027 (antes \u0027 + vehAnt + \u0027)\u0027);\nconst estAnt = String(ex[\u0027ESTADO\u0027] || \u0027\u0027).trim();\nif (estAnt \u0026\u0026 nrm(estAnt) !== nrm(ia.estado_lead)) cambios.push(\u0027paso de \u0027 + estAnt + \u0027 a \u0027 + ia.estado_lead);\nlet nota = String(ia.resumen_vendedor || ia.intencion).trim();\nif (ex[\u0027OBSERVACIONES IA\u0027] \u0026\u0026 nota.length \u003e 90) nota = nota.slice(0, 90);\nconst partes = cambios.concat(nota ? [nota] : []);\nobs = obs ? (obs + \u0027 | \u0027 + partes.join(\u0027 | \u0027)) : partes.join(\u0027 | \u0027);\nif (obs.length \u003e 400) obs = obs.slice(-400);\n\nconst fila_lead = {};\nfila_lead[\u0027FECHA\u0027] = ex[\u0027FECHA\u0027] ? String(ex[\u0027FECHA\u0027]) : fecha;\nfila_lead[\u0027NOMBRE\u0027] = elegir(lead.nombre, ex[\u0027NOMBRE\u0027]);\nfila_lead[\u0027CONTACTO\u0027] = lead.contacto;\nfila_lead[\u0027ESTADO\u0027] = ia.estado_lead;\nfila_lead[\u0027VEH\\u00cdCULO DE INTER\\u00c9S\u0027] = elegir(ia.producto_mencionado, ex[\u0027VEH\\u00cdCULO DE INTER\\u00c9S\u0027]);\nfila_lead[\u0027TIPO\u0027] = elegir(ia.tipo, ex[\u0027TIPO\u0027]);\nfila_lead[\u0027COLOR PREFERIDO\u0027] = elegir(ia.color_preferido, ex[\u0027COLOR PREFERIDO\u0027]);\nfila_lead[\u0027MEDIO DE PAGO\u0027] = elegir(ia.medio_pago, ex[\u0027MEDIO DE PAGO\u0027]);\nfila_lead[\u0027VEH\\u00cdCULO ENTREGADO\u0027] = elegir(ia.vehiculo_entregado, ex[\u0027VEH\\u00cdCULO ENTREGADO\u0027]);\nfila_lead[\u0027DOMINIO/PATENTE\u0027] = elegir(ia.dominio_patente, ex[\u0027DOMINIO/PATENTE\u0027]);\nfila_lead[\u0027PRESUPUESTO APROX.\u0027] = elegir(ia.presupuesto_aprox, ex[\u0027PRESUPUESTO APROX.\u0027]);\nfila_lead[\u0027OBSERVACIONES IA\u0027] = obs;\n\n// Fila ESCALO_HISTORIAL\nconst t0 = new Date(ctx.timestamp).getTime();\nconst fila_historial = {};\nfila_historial[\u0027TIMESTAMP\u0027] = ctx.timestamp;\nfila_historial[\u0027TELEFONO\u0027] = lead.contacto;\nfila_historial[\u0027NOMBRE\u0027] = fila_lead[\u0027NOMBRE\u0027];\nfila_historial[\u0027CANAL\u0027] = lead.canal;\nfila_historial[\u0027MENSAJE ORIGINAL\u0027] = lead.mensaje;\nfila_historial[\u0027PRODUCTO MENCIONADO\u0027] = ia.producto_mencionado || \u0027\u0027;\nfila_historial[\u0027INTENCION\u0027] = ia.intencion;\nfila_historial[\u0027CONFIANZA\u0027] = ia.confianza;\nfila_historial[\u0027REQUIERE ESCALADO\u0027] = ia.requiere_escalado ? \u0027SI\u0027 : \u0027NO\u0027;\nfila_historial[\u0027MOTIVO ESCALADO\u0027] = ia.motivo_escalado;\nfila_historial[\u0027RESPUESTA ENVIADA\u0027] = ia.respuesta_cliente;\nfila_historial[\u0027TIPO RESPUESTA\u0027] = ia.requiere_escalado ? \u0027ESCALADO\u0027 : \u0027AUTOMATICA\u0027;\nfila_historial[\u0027ACCION RECOMENDADA\u0027] = ia.accion_recomendada || \u0027\u0027;\nfila_historial[\u0027PROXIMO PASO\u0027] = ia.proximo_paso || (ia.requiere_escalado ? \u0027derivar_vendedor\u0027 : \u0027responder_automatico\u0027);\nfila_historial[\u0027VENDEDOR ASIGNADO\u0027] = \u0027\u0027;\nfila_historial[\u0027ESTADO EJECUCION\u0027] = fallo_parseo ? \u0027ERROR_PARSEO_IA\u0027 : \u0027OK\u0027;\nfila_historial[\u0027TIEMPO RESP (SEG)\u0027] = Math.max(0, Math.round((Date.now() - t0) / 1000));\nfila_historial[\u0027NOTAS LOG\u0027] = (ctx.errores \u0026\u0026 ctx.errores.length) ? ctx.errores.join(\u0027,\u0027) : \u0027\u0027;\n\nconst ORDEN = [\u0027TIMESTAMP\u0027,\u0027TELEFONO\u0027,\u0027NOMBRE\u0027,\u0027CANAL\u0027,\u0027MENSAJE ORIGINAL\u0027,\u0027PRODUCTO MENCIONADO\u0027,\u0027INTENCION\u0027,\u0027CONFIANZA\u0027,\u0027REQUIERE ESCALADO\u0027,\u0027MOTIVO ESCALADO\u0027,\u0027RESPUESTA ENVIADA\u0027,\u0027TIPO RESPUESTA\u0027,\u0027ACCION RECOMENDADA\u0027,\u0027PROXIMO PASO\u0027,\u0027VENDEDOR ASIGNADO\u0027,\u0027ESTADO EJECUCION\u0027,\u0027TIEMPO RESP (SEG)\u0027,\u0027NOTAS LOG\u0027];\nconst fila_historial_valores = ORDEN.map(k =\u003e fila_historial[k] === undefined || fila_historial[k] === null ? \u0027\u0027 : fila_historial[k]);\nreturn [{ json: { ia, fila_lead, fila_historial, fila_historial_valores, lead, existe: ctx.existe, timestamp: ctx.timestamp } }];"},"id":"722dbc79-056f-4955-bbc3-e2b20a2fa654","name":"Validar Salida IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,16]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_LEADS","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"FECHA":"={{ $json.fila_lead[\u0027FECHA\u0027] }}","NOMBRE":"={{ $json.fila_lead[\u0027NOMBRE\u0027] }}","CONTACTO":"={{ $json.fila_lead[\u0027CONTACTO\u0027] }}","ESTADO":"={{ $json.fila_lead[\u0027ESTADO\u0027] }}","VEHÍCULO DE INTERÉS":"={{ $json.fila_lead[\u0027VEHÍCULO DE INTERÉS\u0027] }}","TIPO":"={{ $json.fila_lead[\u0027TIPO\u0027] }}","COLOR PREFERIDO":"={{ $json.fila_lead[\u0027COLOR PREFERIDO\u0027] }}","MEDIO DE PAGO":"={{ $json.fila_lead[\u0027MEDIO DE PAGO\u0027] }}","VEHÍCULO ENTREGADO":"={{ $json.fila_lead[\u0027VEHÍCULO ENTREGADO\u0027] }}","DOMINIO/PATENTE":"={{ $json.fila_lead[\u0027DOMINIO/PATENTE\u0027] }}","PRESUPUESTO APROX.":"={{ $json.fila_lead[\u0027PRESUPUESTO APROX.\u0027] }}","OBSERVACIONES IA":"={{ $json.fila_lead[\u0027OBSERVACIONES IA\u0027] }}"},"matchingColumns":["CONTACTO"],"schema":[]},"options":{"cellFormat":"RAW"}},"id":"4c65749b-3405-4dfb-b5d5-d57afef4e99c","name":"Guardar Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1728,16],"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI/values/ESCALO_HISTORIAL!A3:R:append?valueInputOption=RAW\u0026insertDataOption=INSERT_ROWS","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ values: [ $(\u0027Validar Salida IA\u0027).first().json.fila_historial_valores ] }) }}","options":{}},"id":"4e79db62-b73a-4e7d-9f32-e6860af58ada","name":"Guardar Historial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,16],"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const v = $(\u0027Validar Salida IA\u0027).first().json;\nconst ia = v.ia;\nreturn [{ json: {\n  ok: true,\n  workflow: \u0027ESCALO-MVP-V2\u0027,\n  lead: { contacto: v.lead.contacto, nombre: v.fila_lead[\u0027NOMBRE\u0027] || \u0027\u0027, nuevo: !v.existe },\n  analisis: {\n    intencion: ia.intencion,\n    confianza: ia.confianza,\n    estado_lead: ia.estado_lead,\n    requiere_escalado: ia.requiere_escalado,\n    motivo_escalado: ia.motivo_escalado\n  },\n  accion: {\n    lead_actualizado: true,\n    historial_guardado: true,\n    evento_calendar_creado: false,\n    proximo_paso: ia.proximo_paso || (ia.requiere_escalado ? \u0027derivar_vendedor\u0027 : \u0027responder_automatico\u0027)\n  },\n  respuesta: { cliente: ia.respuesta_cliente, vendedor: ia.resumen_vendedor || \u0027\u0027 },\n  errores: []\n} }];"},"id":"23ee47b7-76f8-4413-ae52-13e66d805cff","name":"Ensamblar JSON Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $(\u0027Ensamblar JSON Final\u0027).item.json }}","options":{}},"id":"ec2d46f6-c51d-4d97-9c02-65dd1a8388e1","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2576,112],"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_NEGOCIO","mode":"name"},"options":{}},"id":"fd3b76fd-c35c-4663-8970-1da39f5b8cda","name":"Leer Negocio","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,224],"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_HISTORIAL","mode":"name"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeRows"}}}},"id":"b1b21562-9b8f-45b4-9e36-799b82f7e63f","name":"Leer Historial","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1104,224],"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"id":"7f3e9a12-5c4d-4b8e-9f21-3a6d8e5b7c01","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[256,-176],"parameters":{"httpMethod":"POST","path":"escalo-wa","responseMode":"responseNode","options":{}},"webhookId":"0de445e8-c1d3-4dc1-b08d-77dd94d254a4"},{"id":"2b8c4d6e-1f3a-4a5c-8d7e-9b0a1c2d3e4f","name":"WA → normalizado","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-176],"parameters":{"jsCode":"const inp = $input.first().json;\nconst body = inp.body || inp;\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || \u0027\u0027);\nconst evento = String(body.event || \u0027\u0027).toLowerCase().replace(/_/g, \u0027.\u0027);\nif (evento \u0026\u0026 evento !== \u0027messages.upsert\u0027) return [];\nif (key.fromMe === true) return [];\nif (!remoteJid || remoteJid.endsWith(\u0027@g.us\u0027)) return [];\nconst msg = data.message || {};\nconst texto = String(msg.conversation || (msg.extendedTextMessage \u0026\u0026 msg.extendedTextMessage.text) || \u0027\u0027).trim();\nif (!texto) { console.log(\u0027WA descartado sin texto:\u0027, remoteJid); return []; }\nconst contacto = remoteJid.split(\u0027@\u0027)[0].replace(/[^0-9]/g, \u0027\u0027);\nconst timestamp = data.messageTimestamp ? new Date(Number(data.messageTimestamp) * 1000).toISOString() : new Date().toISOString();\nreturn [{ json: { contacto, nombre: data.pushName || \u0027\u0027, canal: \u0027whatsapp\u0027, mensaje: texto, timestamp } }];"}},{"id":"5a1b2c3d-4e5f-4a6b-9c8d-7e6f5a4b3c2d","name":"¿Enviar por WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,16],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1a2b3c4-d5e6-4f70-8a9b-0c1d2e3f4a5b","leftValue":"={{ $(\u00271. Normalizar\u0027).first().json.lead.canal }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}},{"id":"d2b3c4d5-e6f7-4081-9bac-1d2e3f4a5b6c","leftValue":"={{ $json.respuesta.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}]},"options":{}}},{"id":"9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-80],"parameters":{"method":"POST","url":"https://evo.escalo.com.ar/message/sendText/escalo","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.lead.contacto, text: $json.respuesta.cliente }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"7spabdoxFvIF01rq","name":"Evolution API escalo"}}}],"connections":{"Webhook ESCALO":{"main":[[{"node":"1. Normalizar","type":"main","index":0}]]},"1. Normalizar":{"main":[[{"node":"Buscar Lead","type":"main","index":0}]]},"Buscar Lead":{"main":[[{"node":"Leer Stock","type":"main","index":0}]]},"Leer Stock":{"main":[[{"node":"Leer Negocio","type":"main","index":0}]]},"Preparar Contexto":{"main":[[{"node":"AI Clasificador","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Clasificador","type":"ai_languageModel","index":0}]]},"AI Clasificador":{"main":[[{"node":"Validar Salida IA","type":"main","index":0}]]},"Validar Salida IA":{"main":[[{"node":"Guardar Lead","type":"main","index":0}]]},"Guardar Lead":{"main":[[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Historial":{"main":[[{"node":"Ensamblar JSON Final","type":"main","index":0}]]},"Leer Negocio":{"main":[[{"node":"Leer Historial","type":"main","index":0}]]},"Leer Historial":{"main":[[{"node":"Preparar Contexto","type":"main","index":0}]]},"Webhook WhatsApp":{"main":[[{"node":"WA → normalizado","type":"main","index":0}]]},"WA → normalizado":{"main":[[{"node":"1. Normalizar","type":"main","index":0}]]},"Ensamblar JSON Final":{"main":[[{"node":"¿Enviar por WhatsApp?","type":"main","index":0}]]},"¿Enviar por WhatsApp?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}],[{"node":"Responder Webhook","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"8263c9c8-597c-4256-9a32-52f090a9629d","activeVersionId":"8263c9c8-597c-4256-9a32-52f090a9629d","versionCounter":10,"triggerCount":2,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-07-09T13:16:44.577Z","createdAt":"2026-07-09T13:16:44.577Z","role":"workflow:owner","workflowId":"6IB9N46IpcmpnXmX","projectId":"nLGcO585Zk5KjGQm","project":{"updatedAt":"2026-07-09T00:32:39.214Z","createdAt":"2026-07-09T00:29:24.738Z","id":"nLGcO585Zk5KjGQm","name":"jair infante  \u003cinfantepridebailo.j@gmail.com\u003e","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"f1dc15be-63c7-4331-91ee-5eb8e585999c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-07-10T15:04:21.369Z","createdAt":"2026-07-10T15:04:21.369Z","versionId":"8263c9c8-597c-4256-9a32-52f090a9629d","workflowId":"6IB9N46IpcmpnXmX","nodes":[{"parameters":{"httpMethod":"POST","path":"escalo-v2-test","responseMode":"responseNode","options":{}},"id":"dffee735-b1a8-4e72-b9aa-08f07a9f3e2b","name":"Webhook ESCALO","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[256,16],"webhookId":"c32a831e-7f1e-4406-a829-23876b5418db"},{"parameters":{"jsCode":"const inp = $input.first().json;\nconst body = inp.body || inp;\nconst errores = [];\nconst limpiarTel = (v) =\u003e v ? String(v).replace(/[^0-9]/g, \u0027\u0027) : \u0027\u0027;\nconst cap = (v) =\u003e { if (!v) return \u0027\u0027; v = String(v).trim().toLowerCase(); return v.charAt(0).toUpperCase() + v.slice(1); };\nlet contacto = limpiarTel(body.contacto || body.telefono || body.phone || body.from);\nif (!contacto) { contacto = \u0027desconocido\u0027; errores.push(\u0027contacto_ausente\u0027); }\nconst nombre = body.nombre ? cap(body.nombre) : \u0027\u0027;\nlet canal = String(body.canal || body.channel || \u0027webhook-test\u0027).trim().toLowerCase();\nif (![\u0027whatsapp\u0027,\u0027instagram\u0027,\u0027web\u0027,\u0027webhook-test\u0027,\u0027otro\u0027,\u0027desconocido\u0027].includes(canal)) canal = \u0027otro\u0027;\nlet mensaje = String(body.mensaje || body.message || body.texto || \u0027\u0027).trim();\nif (!mensaje) { errores.push(\u0027mensaje_vacio\u0027); }\nconst timestamp = new Date().toISOString();\nreturn [{ json: { lead: { contacto, nombre, canal, mensaje }, timestamp, errores } }];"},"id":"f8fd9738-7293-493f-8581-7fe058cedee6","name":"1. Normalizar","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,16]},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_LEADS","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"CONTACTO","lookupValue":"={{ $json.lead.contacto }}"}]},"options":{}},"id":"9178ea00-88c9-4f73-bb05-a5ba2d65b76c","name":"Buscar Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[672,16],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_STOCK","mode":"name"},"options":{}},"id":"d4134462-6968-45c5-a834-f63b69e32716","name":"Leer Stock","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,16],"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Junta lead + lead existente + stock filtrado + info negocio + historial y arma el prompt minimo para la IA\nconst base = $(\u00271. Normalizar\u0027).first().json;\nconst lead = base.lead;\n\nconst norm = (s) =\u003e String(s || \u0027\u0027).toLowerCase().normalize(\u0027NFD\u0027).replace(/[̀-ͯ]/g, \u0027\u0027);\nconst msg = norm(lead.mensaje);\nconst findKey = (obj, frag) =\u003e Object.keys(obj).find(k =\u003e norm(k).includes(frag));\n\n// Lead existente (Buscar Lead emite un item vacio si no hubo match)\nlet leadExistente = null;\ntry {\n  const rows = $(\u0027Buscar Lead\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 r.CONTACTO);\n  if (rows.length \u003e 0) leadExistente = rows[0];\n} catch (e) {}\n\n// Stock: solo filas cuyo MODELO aparece en el mensaje (max 5)\nlet stockRows = [];\ntry { stockRows = $(\u0027Leer Stock\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst stockCoincidente = [];\nfor (const row of stockRows) {\n  const kModelo = findKey(row, \u0027modelo\u0027);\n  if (!kModelo || !row[kModelo]) continue;\n  if (msg.includes(norm(row[kModelo]))) stockCoincidente.push(row);\n  if (stockCoincidente.length \u003e= 5) break;\n}\n\n// Info del negocio (pestana ESCALO_NEGOCIO, pares CLAVE/VALOR). Solo claves con valor real.\nlet negocioRows = [];\ntry { negocioRows = $(\u0027Leer Negocio\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst infoNegocio = [];\nfor (const row of negocioRows) {\n  const kC = findKey(row, \u0027clave\u0027);\n  const kV = findKey(row, \u0027valor\u0027);\n  if (!kC || !kV) continue;\n  const c = String(row[kC] || \u0027\u0027).trim();\n  const v = String(row[kV] || \u0027\u0027).trim();\n  if (!c || !v || norm(v) === \u0027completar\u0027) continue;\n  infoNegocio.push(c + \u0027: \u0027 + v);\n}\n\n// Historial reciente de ESTE contacto (ultimos 6 intercambios previos)\nlet histRows = [];\ntry { histRows = $(\u0027Leer Historial\u0027).all().map(i =\u003e i.json).filter(r =\u003e r \u0026\u0026 Object.keys(r).length \u003e 0); } catch (e) {}\nconst soloDigitos = (s) =\u003e String(s || \u0027\u0027).replace(/[^0-9]/g, \u0027\u0027);\nconst telCliente = soloDigitos(lead.contacto);\nconst histCliente = [];\nfor (const row of histRows) {\n  const kTel = findKey(row, \u0027telefono\u0027);\n  if (!kTel || !telCliente || soloDigitos(row[kTel]) !== telCliente) continue;\n  const kMsg = findKey(row, \u0027mensaje\u0027);\n  const kResp = findKey(row, \u0027respuesta\u0027);\n  const kTs = findKey(row, \u0027timestamp\u0027);\n  histCliente.push({\n    ts: kTs ? String(row[kTs] || \u0027\u0027) : \u0027\u0027,\n    cliente: kMsg ? String(row[kMsg] || \u0027\u0027) : \u0027\u0027,\n    ia: kResp ? String(row[kResp] || \u0027\u0027) : \u0027\u0027\n  });\n}\nconst histReciente = histCliente.slice(-6);\nconst histTexto = histReciente.map(hx =\u003e \u0027Cliente: \u0027 + hx.cliente + \u0027\\nVos respondiste: \u0027 + hx.ia).join(\u0027\\n\u0027);\n\n// Senales deterministas de escalado (independientes de la IA)\nconst senales = [];\nif (/descuent|rebaj|negoci|mejor precio/.test(msg)) senales.push(\u0027descuento_negociacion\u0027);\nif (/financi|cuota|credito|prestamo/.test(msg)) senales.push(\u0027financiacion\u0027);\nif (/entrego|entregar|permuta|mi usado|toma de|tomarian/.test(msg)) senales.push(\u0027entrega_usado\u0027);\nif (/reclam|queja|problema|falla|garant/.test(msg)) senales.push(\u0027reclamo\u0027);\nif (/comprar|reserv|sena|senia|cerrar/.test(msg)) senales.push(\u0027cierre_compra\u0027);\n\nconst lineas = [];\nlineas.push(\u0027Sos el asistente IA de una concesionaria de autos. Analiza el mensaje del cliente y devolve SOLO un objeto JSON valido. Sin markdown, sin texto extra, sin bloques de codigo.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027REGLAS ESTRICTAS:\u0027);\nlineas.push(\u0027- NUNCA inventes precios, stock, colores, financiacion, descuentos ni disponibilidad. Solo pode usar lo que figura en STOCK CONFIRMADO.\u0027);\nlineas.push(\u0027- Si el dato que pide el cliente no esta en STOCK CONFIRMADO: no lo afirmes y marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- Horario, direccion, telefono, medios de pago, promociones y datos del negocio: respondelos SOLO con lo que figura en INFO DEL NEGOCIO. Si el dato no figura ahi, no lo inventes: respondele con una frase natural pidiendo confirmar ese dato (sin mencionar \"asesor\" ni el proceso interno) y marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- MEDIOS DE PAGO: si el cliente pregunta en general como puede pagar o que medios de pago hay, NO listes las opciones aunque figuren en INFO DEL NEGOCIO. Respondele natural que hay varias formas de manejarlo y preguntale como estaba pensando manejarse (contado, financiado, o entregando un usado en parte de pago). Recien si pregunta por UN medio puntual (ej: aceptan tarjeta?) confirmale SOLO ese dato segun INFO DEL NEGOCIO y segui con una pregunta que avance la venta. Tenes PROHIBIDO mencionar medios de pago que el cliente no pregunto (nada de: tambien podes pagar con..., o explorar financiacion, etc.).\u0027);\nlineas.push(\u0027- Respondé UNICAMENTE lo que el cliente pregunto en su mensaje. No agregues datos que no pidio aunque figuren en INFO DEL NEGOCIO o en el stock (ejemplo: si pregunta la ubicacion, no menciones el horario salvo que tambien lo haya preguntado).\u0027);\nlineas.push(\u0027- Para 0KM: solo confirma un color si figura en la columna COLORES DISP. del stock.\u0027);\nlineas.push(\u0027- Para USADO con condicion EN TALLER: no prometas visita inmediata.\u0027);\nlineas.push(\u0027- Nunca menciones ni estimes el valor de toma de un usado. Eso lo define un humano.\u0027);\nlineas.push(\u0027- dominio_patente y vehiculo_entregado refieren SOLO al vehiculo que el cliente ENTREGA en parte de pago. Nunca copies ahi la patente de un auto del stock. Si el cliente no entrega nada, dejalos vacios.\u0027);\nlineas.push(\u0027- Escalado obligatorio (requiere_escalado=true) si hay: pedido de descuento o negociacion, consulta especifica de financiacion, entrega de usado en parte de pago, reclamo, o intencion de cerrar compra/reserva/sena.\u0027);\nlineas.push(\u0027- FINANCIACION: no des detalles de planes ni tasas. Decile que hay opciones de financiacion y pedile el DNI y con cuanto anticipo cuenta, para que el equipo le prepare una simulacion. Marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- ENTREGA_USADO: decile que tomamos usados en parte de pago, sujeto a peritaje. Pedile marca, modelo, año, kilometraje y estado general del vehiculo para avanzar con una tasacion aproximada que hace el equipo. Nunca des vos un valor. Marca requiere_escalado=true.\u0027);\nlineas.push(\u0027- Si el cliente pasa su DNI, anticipo o datos de su usado, incluilos en resumen_vendedor.\u0027);\nlineas.push(\u0027- Si falta informacion confirmada o tenes poca certeza: requiere_escalado=true y confianza baja.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027CONVERSACION (ida y vuelta):\u0027);\nlineas.push(\u0027- Tu objetivo es avanzar al cliente paso a paso hasta que agende una visita o quede calificado para el vendedor.\u0027);\nlineas.push(\u0027- Usa HISTORIAL RECIENTE como memoria: no repitas saludos, presentaciones ni preguntas ya hechas. Si HISTORIAL RECIENTE no esta vacio, tenes PROHIBIDO saludar de nuevo (nada de \"Hola\" ni usar el nombre como apertura): segui la charla directo, como si ya estuviera en curso.\u0027);\nlineas.push(\u0027- Si el cliente responde algo que ya veniamos hablando (color, modelo, visita), interpretalo en ese contexto.\u0027);\nlineas.push(\u0027- Cerra tu respuesta_cliente con UNA sola pregunta concreta que haga avanzar la venta (que modelo busca, 0km o usado, medio de pago, o proponer dia/hora de visita), salvo que corresponda escalar o el cliente ya haya agendado.\u0027);\nlineas.push(\u0027- Tono: humano y natural, porteño moderado (vos, dale, mirá) sin exagerar ni caer en caricatura. Mensajes cortos estilo WhatsApp, como los escribiria un vendedor real.\u0027);\nlineas.push(\u0027- No sones a asistente virtual: nada de \"estoy aqui para ayudarte\", \"en que mas te puedo ayudar?\" ni respuestas enlatadas. Varia la forma de arrancar cada mensaje.\u0027);\nlineas.push(\u0027- Prioriza preguntar antes que informar: da el minimo de informacion necesaria y termina calificando al cliente. Ejemplo: si preguntan por medios de pago, no listes todo; responde que hay varias opciones y pregunta con que medio estaba pensando manejarse.\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027INTENCION (elegir UNA): DISPONIBILIDAD, PRECIO, STOCK, PROMOCION, FICHA_TECNICA, FINANCIACION, ENTREGA_USADO, AGENDAR_VISITA, DESCUENTO_NEGOCIACION, RECLAMO, INFO_GENERAL, TRABAJO_CV, POSVENTA_SERVICE, NO_ENTENDIDO\u0027);\nlineas.push(\u0027INFO_GENERAL = pregunta por horario, direccion, ubicacion, telefono, medios de pago u otra info del negocio.\u0027);\nlineas.push(\u0027TRABAJO_CV = pregunta por trabajo, empleo, busqueda laboral o quiere dejar su CV/curriculum.\u0027);\nlineas.push(\u0027POSVENTA_SERVICE = pregunta por service, garantia, taller o post-venta de un vehiculo ya comprado (no es venta de un vehiculo).\u0027);\nlineas.push(\u0027estado_lead: FRIO (consulta generica) | TIBIO (pregunta stock/precio/color/financiacion de un modelo puntual) | CALIENTE (quiere comprar, visitar, reservar o cerrar ya)\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027resumen_vendedor: breve y accionable, maximo 15 palabras, sin fecha. Si el cliente cambio de vehiculo de interes o de temperatura, indicalo ahi.\u0027);\nlineas.push(\u0027DEVOLVE EXACTAMENTE ESTA ESTRUCTURA JSON:\u0027);\nlineas.push(\u0027{\"intencion\":\"\",\"confianza\":\"alta|media|baja\",\"producto_mencionado\":\"\",\"tipo\":\"0KM|USADO|\",\"color_preferido\":\"\",\"medio_pago\":\"\",\"vehiculo_entregado\":\"\",\"dominio_patente\":\"\",\"presupuesto_aprox\":\"\",\"estado_lead\":\"FRIO|TIBIO|CALIENTE\",\"requiere_escalado\":false,\"motivo_escalado\":\"\",\"quiere_agendar\":false,\"fecha_hora_visita\":\"\",\"respuesta_cliente\":\"\",\"resumen_vendedor\":\"\",\"accion_recomendada\":\"\",\"proximo_paso\":\"\"}\u0027);\nlineas.push(\u0027\u0027);\nlineas.push(\u0027DATOS:\u0027);\nlineas.push(\u0027INFO DEL NEGOCIO (unica fuente valida para datos del negocio): \u0027 + (infoNegocio.length ? infoNegocio.join(\u0027 | \u0027) : \u0027sin datos cargados\u0027));\nlineas.push(\u0027HISTORIAL RECIENTE CON ESTE CLIENTE (de mas viejo a mas nuevo):\u0027);\nlineas.push(histTexto || \u0027sin historial previo (primer contacto)\u0027);\nlineas.push(\u0027MENSAJE NUEVO DEL CLIENTE: \u0027 + lead.mensaje);\nlineas.push(\u0027NOMBRE: \u0027 + (lead.nombre || \u0027desconocido\u0027));\nlineas.push(\u0027CANAL: \u0027 + lead.canal);\nlineas.push(\u0027LEAD EXISTENTE: \u0027 + (leadExistente ? JSON.stringify(leadExistente) : \u0027ninguno (cliente nuevo)\u0027));\nlineas.push(\u0027STOCK CONFIRMADO (unico stock que existe): \u0027 + (stockCoincidente.length ? JSON.stringify(stockCoincidente) : \u0027sin coincidencias en stock\u0027));\nlineas.push(\u0027SENALES DETECTADAS POR SISTEMA: \u0027 + (senales.length ? senales.join(\u0027, \u0027) : \u0027ninguna\u0027));\n\nreturn [{ json: {\n  prompt: lineas.join(\u0027\\n\u0027),\n  lead,\n  timestamp: base.timestamp,\n  errores: base.errores || [],\n  existe: !!leadExistente,\n  lead_existente: leadExistente,\n  stock_coincidente: stockCoincidente,\n  info_negocio: infoNegocio,\n  historial_reciente: histReciente,\n  senales\n} }];\n"},"id":"4dc97efb-1a49-4b78-8958-195570d870c4","name":"Preparar Contexto","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,16]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"b79966b5-2b94-4b5a-a384-153d7f46bf9b","name":"AI Clasificador","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1296,16]},{"parameters":{"model":"claude-haiku-4-5-20251001","options":{}},"id":"3c8fd729-940f-4f14-91cc-0d5dd54c7f81","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1,"position":[1296,240],"credentials":{"anthropicApi":{"id":"kbeF2OZ0AviWwmPH","name":"Anthropic account"}}},{"parameters":{"jsCode":"// Parseo y validacion determinista de la salida de la IA\nconst ctx = $(\u0027Preparar Contexto\u0027).first().json;\nconst lead = ctx.lead;\n\nconst raw = $input.first().json.text !== undefined ? $input.first().json.text : ($input.first().json.output || \u0027\u0027);\nlet ia = null;\ntry {\n  const limpio = String(raw).replace(/```json|```/g, \u0027\u0027).trim();\n  const ini = limpio.indexOf(\u0027{\u0027);\n  const fin = limpio.lastIndexOf(\u0027}\u0027);\n  if (ini \u003e= 0 \u0026\u0026 fin \u003e ini) ia = JSON.parse(limpio.substring(ini, fin + 1));\n} catch (e) { ia = null; }\n\nconst fallo_parseo = !ia;\nif (!ia) ia = { intencion: \u0027NO_ENTENDIDO\u0027, confianza: \u0027baja\u0027, respuesta_cliente: \u0027\u0027, resumen_vendedor: \u0027La IA no devolvio JSON valido. Revisar manualmente.\u0027, requiere_escalado: true, motivo_escalado: \u0027salida_ia_invalida\u0027 };\n\n// Enums validados por codigo\nconst INTS = [\u0027DISPONIBILIDAD\u0027,\u0027PRECIO\u0027,\u0027STOCK\u0027,\u0027PROMOCION\u0027,\u0027FICHA_TECNICA\u0027,\u0027FINANCIACION\u0027,\u0027ENTREGA_USADO\u0027,\u0027AGENDAR_VISITA\u0027,\u0027DESCUENTO_NEGOCIACION\u0027,\u0027RECLAMO\u0027,\u0027NO_ENTENDIDO\u0027,\u0027INFO_GENERAL\u0027,\u0027TRABAJO_CV\u0027,\u0027POSVENTA_SERVICE\u0027];\nif (!INTS.includes(ia.intencion)) ia.intencion = \u0027NO_ENTENDIDO\u0027;\nconst nrm = (s) =\u003e String(s || \u0027\u0027).toUpperCase().normalize(\u0027NFD\u0027).replace(/[\\u0300-\\u036f]/g, \u0027\u0027);\nconst est = nrm(ia.estado_lead);\nia.estado_lead = est === \u0027CALIENTE\u0027 ? \u0027CALIENTE\u0027 : (est === \u0027TIBIO\u0027 ? \u0027TIBIO\u0027 : \u0027FR\\u00cdO\u0027);\nif (![\u0027alta\u0027,\u0027media\u0027,\u0027baja\u0027].includes(ia.confianza)) ia.confianza = \u0027baja\u0027;\n\n// El escalado deterministico manda sobre la IA\nconst INT_ESC = [\u0027DESCUENTO_NEGOCIACION\u0027,\u0027FINANCIACION\u0027,\u0027ENTREGA_USADO\u0027,\u0027RECLAMO\u0027,\u0027NO_ENTENDIDO\u0027];\nconst motivos = [];\nif (ia.requiere_escalado === true) motivos.push(ia.motivo_escalado || \u0027criterio_ia\u0027);\nif ((ctx.senales || []).length \u003e 0) motivos.push(\u0027senales: \u0027 + ctx.senales.join(\u0027,\u0027));\nif (INT_ESC.includes(ia.intencion)) motivos.push(\u0027intencion_\u0027 + ia.intencion.toLowerCase());\nif (ia.confianza === \u0027baja\u0027) motivos.push(\u0027confianza_baja\u0027);\nia.requiere_escalado = motivos.length \u003e 0;\nia.motivo_escalado = motivos.join(\u0027 | \u0027);\n\n// TRABAJO_CV y POSVENTA_SERVICE: respuesta fija, nunca escalan, no las redacta la IA\nif (ia.intencion === \u0027TRABAJO_CV\u0027 || ia.intencion === \u0027POSVENTA_SERVICE\u0027) {\n  ia.requiere_escalado = false;\n  ia.motivo_escalado = \u0027\u0027;\n  if (ia.intencion === \u0027TRABAJO_CV\u0027) {\n    const horarioLinea = (ctx.info_negocio || []).find(l =\u003e l.toUpperCase().startsWith(\u0027HORARIO\u0027));\n    const horarioTxt = horarioLinea ? horarioLinea.split(\u0027:\u0027).slice(1).join(\u0027:\u0027).trim() : \u0027nuestro horario de atencion\u0027;\n    ia.respuesta_cliente = \u0027Para dejar tu CV podes acercarte en persona a cualquiera de nuestras sucursales, dentro del horario de atencion: \u0027 + horarioTxt + \u0027.\u0027;\n  } else {\n    ia.respuesta_cliente = \u0027Estas hablando con el equipo de ventas. Para consultas de post-venta o service, escribinos por WhatsApp al 1151321582.\u0027;\n  }\n}\n\nif (!ia.respuesta_cliente) {\n  ia.respuesta_cliente = ia.requiere_escalado\n    ? \u0027Dejame confirmar bien ese dato y te escribo enseguida.\u0027\n    : \u0027Contame un poco mas asi te oriento mejor.\u0027;\n}\n\n// Fila ESCALO_LEADS: nunca pisar datos existentes con vacio. PRECIO DE TOMA no se toca.\nconst ex = ctx.lead_existente || {};\nconst elegir = (nuevo, viejo) =\u003e (nuevo !== undefined \u0026\u0026 nuevo !== null \u0026\u0026 String(nuevo).trim() !== \u0027\u0027) ? String(nuevo).trim() : (viejo !== undefined \u0026\u0026 viejo !== null ? String(viejo) : \u0027\u0027);\nconst ahora = new Date();\nconst fecha = ahora.toISOString().substring(0, 10);\n// OBSERVACIONES IA: sin fecha, breve. Registra cambios de interes y de temperatura para el vendedor.\nlet obs = ex[\u0027OBSERVACIONES IA\u0027] ? String(ex[\u0027OBSERVACIONES IA\u0027]) : \u0027\u0027;\nconst cambios = [];\nconst vehAnt = String(ex[\u0027VEHÍCULO DE INTERÉS\u0027] || \u0027\u0027).trim();\nconst vehNuevo = String(ia.producto_mencionado || \u0027\u0027).trim();\nif (vehNuevo \u0026\u0026 vehAnt \u0026\u0026 nrm(vehNuevo) !== nrm(vehAnt)) cambios.push(\u0027nuevo interes: \u0027 + vehNuevo + \u0027 (antes \u0027 + vehAnt + \u0027)\u0027);\nconst estAnt = String(ex[\u0027ESTADO\u0027] || \u0027\u0027).trim();\nif (estAnt \u0026\u0026 nrm(estAnt) !== nrm(ia.estado_lead)) cambios.push(\u0027paso de \u0027 + estAnt + \u0027 a \u0027 + ia.estado_lead);\nlet nota = String(ia.resumen_vendedor || ia.intencion).trim();\nif (ex[\u0027OBSERVACIONES IA\u0027] \u0026\u0026 nota.length \u003e 90) nota = nota.slice(0, 90);\nconst partes = cambios.concat(nota ? [nota] : []);\nobs = obs ? (obs + \u0027 | \u0027 + partes.join(\u0027 | \u0027)) : partes.join(\u0027 | \u0027);\nif (obs.length \u003e 400) obs = obs.slice(-400);\n\nconst fila_lead = {};\nfila_lead[\u0027FECHA\u0027] = ex[\u0027FECHA\u0027] ? String(ex[\u0027FECHA\u0027]) : fecha;\nfila_lead[\u0027NOMBRE\u0027] = elegir(lead.nombre, ex[\u0027NOMBRE\u0027]);\nfila_lead[\u0027CONTACTO\u0027] = lead.contacto;\nfila_lead[\u0027ESTADO\u0027] = ia.estado_lead;\nfila_lead[\u0027VEH\\u00cdCULO DE INTER\\u00c9S\u0027] = elegir(ia.producto_mencionado, ex[\u0027VEH\\u00cdCULO DE INTER\\u00c9S\u0027]);\nfila_lead[\u0027TIPO\u0027] = elegir(ia.tipo, ex[\u0027TIPO\u0027]);\nfila_lead[\u0027COLOR PREFERIDO\u0027] = elegir(ia.color_preferido, ex[\u0027COLOR PREFERIDO\u0027]);\nfila_lead[\u0027MEDIO DE PAGO\u0027] = elegir(ia.medio_pago, ex[\u0027MEDIO DE PAGO\u0027]);\nfila_lead[\u0027VEH\\u00cdCULO ENTREGADO\u0027] = elegir(ia.vehiculo_entregado, ex[\u0027VEH\\u00cdCULO ENTREGADO\u0027]);\nfila_lead[\u0027DOMINIO/PATENTE\u0027] = elegir(ia.dominio_patente, ex[\u0027DOMINIO/PATENTE\u0027]);\nfila_lead[\u0027PRESUPUESTO APROX.\u0027] = elegir(ia.presupuesto_aprox, ex[\u0027PRESUPUESTO APROX.\u0027]);\nfila_lead[\u0027OBSERVACIONES IA\u0027] = obs;\n\n// Fila ESCALO_HISTORIAL\nconst t0 = new Date(ctx.timestamp).getTime();\nconst fila_historial = {};\nfila_historial[\u0027TIMESTAMP\u0027] = ctx.timestamp;\nfila_historial[\u0027TELEFONO\u0027] = lead.contacto;\nfila_historial[\u0027NOMBRE\u0027] = fila_lead[\u0027NOMBRE\u0027];\nfila_historial[\u0027CANAL\u0027] = lead.canal;\nfila_historial[\u0027MENSAJE ORIGINAL\u0027] = lead.mensaje;\nfila_historial[\u0027PRODUCTO MENCIONADO\u0027] = ia.producto_mencionado || \u0027\u0027;\nfila_historial[\u0027INTENCION\u0027] = ia.intencion;\nfila_historial[\u0027CONFIANZA\u0027] = ia.confianza;\nfila_historial[\u0027REQUIERE ESCALADO\u0027] = ia.requiere_escalado ? \u0027SI\u0027 : \u0027NO\u0027;\nfila_historial[\u0027MOTIVO ESCALADO\u0027] = ia.motivo_escalado;\nfila_historial[\u0027RESPUESTA ENVIADA\u0027] = ia.respuesta_cliente;\nfila_historial[\u0027TIPO RESPUESTA\u0027] = ia.requiere_escalado ? \u0027ESCALADO\u0027 : \u0027AUTOMATICA\u0027;\nfila_historial[\u0027ACCION RECOMENDADA\u0027] = ia.accion_recomendada || \u0027\u0027;\nfila_historial[\u0027PROXIMO PASO\u0027] = ia.proximo_paso || (ia.requiere_escalado ? \u0027derivar_vendedor\u0027 : \u0027responder_automatico\u0027);\nfila_historial[\u0027VENDEDOR ASIGNADO\u0027] = \u0027\u0027;\nfila_historial[\u0027ESTADO EJECUCION\u0027] = fallo_parseo ? \u0027ERROR_PARSEO_IA\u0027 : \u0027OK\u0027;\nfila_historial[\u0027TIEMPO RESP (SEG)\u0027] = Math.max(0, Math.round((Date.now() - t0) / 1000));\nfila_historial[\u0027NOTAS LOG\u0027] = (ctx.errores \u0026\u0026 ctx.errores.length) ? ctx.errores.join(\u0027,\u0027) : \u0027\u0027;\n\nconst ORDEN = [\u0027TIMESTAMP\u0027,\u0027TELEFONO\u0027,\u0027NOMBRE\u0027,\u0027CANAL\u0027,\u0027MENSAJE ORIGINAL\u0027,\u0027PRODUCTO MENCIONADO\u0027,\u0027INTENCION\u0027,\u0027CONFIANZA\u0027,\u0027REQUIERE ESCALADO\u0027,\u0027MOTIVO ESCALADO\u0027,\u0027RESPUESTA ENVIADA\u0027,\u0027TIPO RESPUESTA\u0027,\u0027ACCION RECOMENDADA\u0027,\u0027PROXIMO PASO\u0027,\u0027VENDEDOR ASIGNADO\u0027,\u0027ESTADO EJECUCION\u0027,\u0027TIEMPO RESP (SEG)\u0027,\u0027NOTAS LOG\u0027];\nconst fila_historial_valores = ORDEN.map(k =\u003e fila_historial[k] === undefined || fila_historial[k] === null ? \u0027\u0027 : fila_historial[k]);\nreturn [{ json: { ia, fila_lead, fila_historial, fila_historial_valores, lead, existe: ctx.existe, timestamp: ctx.timestamp } }];"},"id":"722dbc79-056f-4955-bbc3-e2b20a2fa654","name":"Validar Salida IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,16]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_LEADS","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"FECHA":"={{ $json.fila_lead[\u0027FECHA\u0027] }}","NOMBRE":"={{ $json.fila_lead[\u0027NOMBRE\u0027] }}","CONTACTO":"={{ $json.fila_lead[\u0027CONTACTO\u0027] }}","ESTADO":"={{ $json.fila_lead[\u0027ESTADO\u0027] }}","VEHÍCULO DE INTERÉS":"={{ $json.fila_lead[\u0027VEHÍCULO DE INTERÉS\u0027] }}","TIPO":"={{ $json.fila_lead[\u0027TIPO\u0027] }}","COLOR PREFERIDO":"={{ $json.fila_lead[\u0027COLOR PREFERIDO\u0027] }}","MEDIO DE PAGO":"={{ $json.fila_lead[\u0027MEDIO DE PAGO\u0027] }}","VEHÍCULO ENTREGADO":"={{ $json.fila_lead[\u0027VEHÍCULO ENTREGADO\u0027] }}","DOMINIO/PATENTE":"={{ $json.fila_lead[\u0027DOMINIO/PATENTE\u0027] }}","PRESUPUESTO APROX.":"={{ $json.fila_lead[\u0027PRESUPUESTO APROX.\u0027] }}","OBSERVACIONES IA":"={{ $json.fila_lead[\u0027OBSERVACIONES IA\u0027] }}"},"matchingColumns":["CONTACTO"],"schema":[]},"options":{"cellFormat":"RAW"}},"id":"4c65749b-3405-4dfb-b5d5-d57afef4e99c","name":"Guardar Lead","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1728,16],"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"https://sheets.googleapis.com/v4/spreadsheets/133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI/values/ESCALO_HISTORIAL!A3:R:append?valueInputOption=RAW\u0026insertDataOption=INSERT_ROWS","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ values: [ $(\u0027Validar Salida IA\u0027).first().json.fila_historial_valores ] }) }}","options":{}},"id":"4e79db62-b73a-4e7d-9f32-e6860af58ada","name":"Guardar Historial","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,16],"credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const v = $(\u0027Validar Salida IA\u0027).first().json;\nconst ia = v.ia;\nreturn [{ json: {\n  ok: true,\n  workflow: \u0027ESCALO-MVP-V2\u0027,\n  lead: { contacto: v.lead.contacto, nombre: v.fila_lead[\u0027NOMBRE\u0027] || \u0027\u0027, nuevo: !v.existe },\n  analisis: {\n    intencion: ia.intencion,\n    confianza: ia.confianza,\n    estado_lead: ia.estado_lead,\n    requiere_escalado: ia.requiere_escalado,\n    motivo_escalado: ia.motivo_escalado\n  },\n  accion: {\n    lead_actualizado: true,\n    historial_guardado: true,\n    evento_calendar_creado: false,\n    proximo_paso: ia.proximo_paso || (ia.requiere_escalado ? \u0027derivar_vendedor\u0027 : \u0027responder_automatico\u0027)\n  },\n  respuesta: { cliente: ia.respuesta_cliente, vendedor: ia.resumen_vendedor || \u0027\u0027 },\n  errores: []\n} }];"},"id":"23ee47b7-76f8-4413-ae52-13e66d805cff","name":"Ensamblar JSON Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $(\u0027Ensamblar JSON Final\u0027).item.json }}","options":{}},"id":"ec2d46f6-c51d-4d97-9c02-65dd1a8388e1","name":"Responder Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2576,112],"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_NEGOCIO","mode":"name"},"options":{}},"id":"fd3b76fd-c35c-4663-8970-1da39f5b8cda","name":"Leer Negocio","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[880,224],"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI","mode":"id"},"sheetName":{"__rl":true,"value":"ESCALO_HISTORIAL","mode":"name"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeRows"}}}},"id":"b1b21562-9b8f-45b4-9e36-799b82f7e63f","name":"Leer Historial","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1104,224],"executeOnce":true,"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"googleSheetsOAuth2Api":{"id":"AP6CbVAiiS4GkpkH","name":"Google Sheets account"}}},{"id":"7f3e9a12-5c4d-4b8e-9f21-3a6d8e5b7c01","name":"Webhook WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[256,-176],"parameters":{"httpMethod":"POST","path":"escalo-wa","responseMode":"responseNode","options":{}},"webhookId":"0de445e8-c1d3-4dc1-b08d-77dd94d254a4"},{"id":"2b8c4d6e-1f3a-4a5c-8d7e-9b0a1c2d3e4f","name":"WA → normalizado","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-176],"parameters":{"jsCode":"const inp = $input.first().json;\nconst body = inp.body || inp;\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || \u0027\u0027);\nconst evento = String(body.event || \u0027\u0027).toLowerCase().replace(/_/g, \u0027.\u0027);\nif (evento \u0026\u0026 evento !== \u0027messages.upsert\u0027) return [];\nif (key.fromMe === true) return [];\nif (!remoteJid || remoteJid.endsWith(\u0027@g.us\u0027)) return [];\nconst msg = data.message || {};\nconst texto = String(msg.conversation || (msg.extendedTextMessage \u0026\u0026 msg.extendedTextMessage.text) || \u0027\u0027).trim();\nif (!texto) { console.log(\u0027WA descartado sin texto:\u0027, remoteJid); return []; }\nconst contacto = remoteJid.split(\u0027@\u0027)[0].replace(/[^0-9]/g, \u0027\u0027);\nconst timestamp = data.messageTimestamp ? new Date(Number(data.messageTimestamp) * 1000).toISOString() : new Date().toISOString();\nreturn [{ json: { contacto, nombre: data.pushName || \u0027\u0027, canal: \u0027whatsapp\u0027, mensaje: texto, timestamp } }];"}},{"id":"5a1b2c3d-4e5f-4a6b-9c8d-7e6f5a4b3c2d","name":"¿Enviar por WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,16],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"c1a2b3c4-d5e6-4f70-8a9b-0c1d2e3f4a5b","leftValue":"={{ $(\u00271. Normalizar\u0027).first().json.lead.canal }}","rightValue":"whatsapp","operator":{"type":"string","operation":"equals"}},{"id":"d2b3c4d5-e6f7-4081-9bac-1d2e3f4a5b6c","leftValue":"={{ $json.respuesta.cliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}]},"options":{}}},{"id":"9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b","name":"Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-80],"parameters":{"method":"POST","url":"https://evo.escalo.com.ar/message/sendText/escalo","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $json.lead.contacto, text: $json.respuesta.cliente }) }}","options":{}},"credentials":{"httpHeaderAuth":{"id":"7spabdoxFvIF01rq","name":"Evolution API escalo"}}}],"connections":{"Webhook ESCALO":{"main":[[{"node":"1. Normalizar","type":"main","index":0}]]},"1. Normalizar":{"main":[[{"node":"Buscar Lead","type":"main","index":0}]]},"Buscar Lead":{"main":[[{"node":"Leer Stock","type":"main","index":0}]]},"Leer Stock":{"main":[[{"node":"Leer Negocio","type":"main","index":0}]]},"Preparar Contexto":{"main":[[{"node":"AI Clasificador","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Clasificador","type":"ai_languageModel","index":0}]]},"AI Clasificador":{"main":[[{"node":"Validar Salida IA","type":"main","index":0}]]},"Validar Salida IA":{"main":[[{"node":"Guardar Lead","type":"main","index":0}]]},"Guardar Lead":{"main":[[{"node":"Guardar Historial","type":"main","index":0}]]},"Guardar Historial":{"main":[[{"node":"Ensamblar JSON Final","type":"main","index":0}]]},"Leer Negocio":{"main":[[{"node":"Leer Historial","type":"main","index":0}]]},"Leer Historial":{"main":[[{"node":"Preparar Contexto","type":"main","index":0}]]},"Webhook WhatsApp":{"main":[[{"node":"WA → normalizado","type":"main","index":0}]]},"WA → normalizado":{"main":[[{"node":"1. Normalizar","type":"main","index":0}]]},"Ensamblar JSON Final":{"main":[[{"node":"¿Enviar por WhatsApp?","type":"main","index":0}]]},"¿Enviar por WhatsApp?":{"main":[[{"node":"Enviar WhatsApp","type":"main","index":0}],[{"node":"Responder Webhook","type":"main","index":0}]]},"Enviar WhatsApp":{"main":[[{"node":"Responder Webhook","type":"main","index":0}]]}},"nodeGroups":[],"authors":"jair infante ","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-07-10T15:04:21.433Z","id":15,"workflowId":"6IB9N46IpcmpnXmX","versionId":"8263c9c8-597c-4256-9a32-52f090a9629d","event":"activated","userId":"f1dc15be-63c7-4331-91ee-5eb8e585999c"},{"createdAt":"2026-07-10T15:04:21.415Z","id":14,"workflowId":"6IB9N46IpcmpnXmX","versionId":"8263c9c8-597c-4256-9a32-52f090a9629d","event":"deactivated","userId":"f1dc15be-63c7-4331-91ee-5eb8e585999c"}]}}
