Whatsapp agent con n8n y mcp/n8n/exports/ESCALO-MVP-V2_2026-07-10_stock-listado.json
{
  "updatedAt": "2026-07-10T17:49:34.565Z",
  "createdAt": "2026-07-09T13:16:44.543Z",
  "id": "6IB9N46IpcmpnXmX",
  "name": "ESCALO-MVP-V2",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalo-v2-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dffee735-b1a8-4e72-b9aa-08f07a9f3e2b",
      "name": "Webhook ESCALO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        16
      ],
      "webhookId": "c32a831e-7f1e-4406-a829-23876b5418db"
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst body = inp.body || inp;\nconst errores = [];\nconst limpiarTel = (v) => v ? String(v).replace(/[^0-9]/g, '') : '';\nconst cap = (v) => { if (!v) return ''; v = String(v).trim().toLowerCase(); return v.charAt(0).toUpperCase() + v.slice(1); };\nlet contacto = limpiarTel(body.contacto || body.telefono || body.phone || body.from);\nif (!contacto) { contacto = 'desconocido'; errores.push('contacto_ausente'); }\nconst nombre = body.nombre ? cap(body.nombre) : '';\nlet canal = String(body.canal || body.channel || 'webhook-test').trim().toLowerCase();\nif (!['whatsapp','instagram','web','webhook-test','otro','desconocido'].includes(canal)) canal = 'otro';\nlet mensaje = String(body.mensaje || body.message || body.texto || '').trim();\nif (!mensaje) { errores.push('mensaje_vacio'); }\nconst timestamp = new Date().toISOString();\nreturn [{ json: { lead: { contacto, nombre, canal, mensaje }, timestamp, errores } }];"
      },
      "id": "f8fd9738-7293-493f-8581-7fe058cedee6",
      "name": "1. Normalizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        16
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESCALO_LEADS",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CONTACTO",
              "lookupValue": "={{ $json.lead.contacto }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9178ea00-88c9-4f73-bb05-a5ba2d65b76c",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESCALO_STOCK",
          "mode": "name"
        },
        "options": {}
      },
      "id": "d4134462-6968-45c5-a834-f63b69e32716",
      "name": "Leer Stock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        16
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Junta lead + lead existente + stock filtrado + info negocio + historial y arma el prompt minimo para la IA\nconst base = $('1. Normalizar').first().json;\nconst lead = base.lead;\n\nconst norm = (s) => String(s || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\nconst msg = norm(lead.mensaje);\nconst findKey = (obj, frag) => Object.keys(obj).find(k => norm(k).includes(frag));\n\n// Lead existente (Buscar Lead emite un item vacio si no hubo match)\nlet leadExistente = null;\ntry {\n  const rows = $('Buscar Lead').all().map(i => i.json).filter(r => r && r.CONTACTO);\n  if (rows.length > 0) leadExistente = rows[0];\n} catch (e) {}\n\n// Stock: matchea si algun token (>=3 letras) del MODELO o la MARCA aparece en el mensaje (max 5)\nlet stockRows = [];\ntry { stockRows = $('Leer Stock').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst tokensDe = (s) => norm(s).split(/[^a-z0-9]+/).filter(t => t.length >= 3);\nconst msgTokens = new Set(tokensDe(lead.mensaje));\nconst stockCoincidente = [];\nfor (const row of stockRows) {\n  const kModelo = findKey(row, 'modelo');\n  const kMarca = findKey(row, 'marca');\n  const toks = tokensDe(kModelo ? row[kModelo] : '').concat(tokensDe(kMarca ? row[kMarca] : ''));\n  if (toks.some(t => msgTokens.has(t))) stockCoincidente.push(row);\n  if (stockCoincidente.length >= 5) break;\n}\n\n// Consulta general de stock/usados (sin modelo puntual): listado compacto de todo el stock\nconst consultaGeneralStock = /\\b(usados?|stock|autos?|vehiculos?|camionetas?|suv|disponibles?|lista|listado|catalogo|modelos)\\b|que (tenes|tienen|hay)/.test(msg);\nlet listadoStock = [];\nif (consultaGeneralStock) {\n  listadoStock = stockRows.slice(0, 20).map(r => {\n    const g = (frag) => { const k = findKey(r, frag); return k ? String(r[k] || '').trim() : ''; };\n    return [g('tipo'), g('marca'), g('modelo'), g('ano'), g('color'), g('estado'), g('observ')].filter(Boolean).join(' · ');\n  }).filter(Boolean);\n}\n\n// Info del negocio (pestana ESCALO_NEGOCIO, pares CLAVE/VALOR). Solo claves con valor real.\nlet negocioRows = [];\ntry { negocioRows = $('Leer Negocio').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst infoNegocio = [];\nfor (const row of negocioRows) {\n  const kC = findKey(row, 'clave');\n  const kV = findKey(row, 'valor');\n  if (!kC || !kV) continue;\n  const c = String(row[kC] || '').trim();\n  const v = String(row[kV] || '').trim();\n  if (!c || !v || norm(v) === 'completar') continue;\n  infoNegocio.push(c + ': ' + v);\n}\n\n// Historial reciente de ESTE contacto (ultimos 6 intercambios previos)\nlet histRows = [];\ntry { histRows = $('Leer Historial').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst soloDigitos = (s) => String(s || '').replace(/[^0-9]/g, '');\nconst telCliente = soloDigitos(lead.contacto);\nconst histCliente = [];\nfor (const row of histRows) {\n  const kTel = findKey(row, 'telefono');\n  if (!kTel || !telCliente || soloDigitos(row[kTel]) !== telCliente) continue;\n  const kMsg = findKey(row, 'mensaje');\n  const kResp = findKey(row, 'respuesta');\n  const kTs = findKey(row, 'timestamp');\n  histCliente.push({\n    ts: kTs ? String(row[kTs] || '') : '',\n    cliente: kMsg ? String(row[kMsg] || '') : '',\n    ia: kResp ? String(row[kResp] || '') : ''\n  });\n}\nconst histReciente = histCliente.slice(-6);\nconst histTexto = histReciente.map(hx => 'Cliente: ' + hx.cliente + '\\nVos respondiste: ' + hx.ia).join('\\n');\n\n// Senales deterministas de escalado (independientes de la IA)\nconst senales = [];\nif (/descuent|rebaj|negoci|mejor precio/.test(msg)) senales.push('descuento_negociacion');\nif (/financi|cuota|credito|prestamo/.test(msg)) senales.push('financiacion');\nif (/entrego|entregar|permuta|mi usado|toma de|tomarian/.test(msg)) senales.push('entrega_usado');\nif (/reclam|queja|problema|falla|garant/.test(msg)) senales.push('reclamo');\nif (/comprar|reserv|sena|senia|cerrar/.test(msg)) senales.push('cierre_compra');\n\nconst lineas = [];\nlineas.push('Sos el asistente IA de una concesionaria de autos. Analiza el mensaje del cliente y devolve SOLO un objeto JSON valido. Sin markdown, sin texto extra, sin bloques de codigo.');\nlineas.push('');\nlineas.push('REGLAS ESTRICTAS:');\nlineas.push('- NUNCA inventes precios, stock, colores, financiacion, descuentos ni disponibilidad. Solo pode usar lo que figura en STOCK CONFIRMADO.');\nlineas.push('- Si el dato que pide el cliente no esta en STOCK CONFIRMADO: no lo afirmes y marca requiere_escalado=true.');\nlineas.push('- Horario, direccion, telefono, medios de pago, promociones y datos del negocio: respondelos SOLO con lo que figura en INFO DEL NEGOCIO. Si el dato no figura ahi, no lo inventes: respondele con una frase natural pidiendo confirmar ese dato (sin mencionar \"asesor\" ni el proceso interno) y marca requiere_escalado=true.');\nlineas.push('- MEDIOS DE PAGO: si el cliente pregunta en general como puede pagar o que medios de pago hay, NO listes las opciones aunque figuren en INFO DEL NEGOCIO. Respondele natural que hay varias formas de manejarlo y preguntale como estaba pensando manejarse (contado, financiado, o entregando un usado en parte de pago). Recien si pregunta por UN medio puntual (ej: aceptan tarjeta?) confirmale SOLO ese dato segun INFO DEL NEGOCIO y segui con una pregunta que avance la venta. Tenes PROHIBIDO mencionar medios de pago que el cliente no pregunto (nada de: tambien podes pagar con..., o explorar financiacion, etc.).');\nlineas.push('- Respondé UNICAMENTE lo que el cliente pregunto en su mensaje. No agregues datos que no pidio aunque figuren en INFO DEL NEGOCIO o en el stock (ejemplo: si pregunta la ubicacion, no menciones el horario salvo que tambien lo haya preguntado).');\nlineas.push('- CONSULTA GENERAL DE USADOS/AUTOS/STOCK (el cliente pregunta que hay, sin nombrar un modelo): NO pases el listado de entrada. Respondele natural que hay variedad y calificalo organico con UNA pregunta por mensaje: que busca (auto, SUV o camioneta), presupuesto aproximado, 0km o usado. SOLO si el cliente insiste (segun HISTORIAL RECIENTE ya lo calificaste o ya esquivaste la lista una vez y la vuelve a pedir, o pide explicito que le pases todo lo que hay) pasale el LISTADO GENERAL DE STOCK: una linea por unidad con año, modelo, kilometraje (solo si figura) y color. Incluye tambien las unidades en ingreso si figuran asi en su estado.');\nlineas.push('- Si STOCK CONFIRMADO dice sin coincidencias y el modelo tampoco esta en LISTADO GENERAL DE STOCK: tenes PROHIBIDO afirmar que hay una unidad o describirla (nada de año, km ni color inventados). Decile que ahora no lo tenes disponible y ofrece averiguarlo, manteniendo coherencia con lo que ya le dijiste antes segun HISTORIAL RECIENTE.');\nlineas.push('- Para 0KM: solo confirma un color si figura en la columna COLORES DISP. del stock.');\nlineas.push('- Para USADO con condicion EN TALLER: no prometas visita inmediata.');\nlineas.push('- Nunca menciones ni estimes el valor de toma de un usado. Eso lo define un humano.');\nlineas.push('- dominio_patente y vehiculo_entregado refieren SOLO al vehiculo que el cliente ENTREGA en parte de pago. Nunca copies ahi la patente de un auto del stock. Si el cliente no entrega nada, dejalos vacios.');\nlineas.push('- Escalado obligatorio (requiere_escalado=true) si hay: pedido de descuento o negociacion, consulta especifica de financiacion, entrega de usado en parte de pago, reclamo, o intencion de cerrar compra/reserva/sena.');\nlineas.push('- FINANCIACION: no des detalles de planes ni tasas. Decile que hay opciones de financiacion y pedile el DNI y con cuanto anticipo cuenta, para que el equipo le prepare una simulacion. Marca requiere_escalado=true.');\nlineas.push('- ENTREGA_USADO: decile que tomamos usados en parte de pago, sujeto a peritaje. Pedile marca, modelo, año, kilometraje y estado general del vehiculo para avanzar con una tasacion aproximada que hace el equipo. Nunca des vos un valor. Marca requiere_escalado=true.');\nlineas.push('- Si el cliente pasa su DNI, anticipo o datos de su usado, incluilos en resumen_vendedor.');\nlineas.push('- Si falta informacion confirmada o tenes poca certeza: requiere_escalado=true y confianza baja.');\nlineas.push('');\nlineas.push('CONVERSACION (ida y vuelta):');\nlineas.push('- Tu objetivo es avanzar al cliente paso a paso hasta que agende una visita o quede calificado para el vendedor.');\nlineas.push('- Usa HISTORIAL RECIENTE como memoria: no repitas saludos, presentaciones ni preguntas ya hechas. Si HISTORIAL RECIENTE no esta vacio, tenes PROHIBIDO saludar de nuevo (nada de \"Hola\" ni usar el nombre como apertura): segui la charla directo, como si ya estuviera en curso.');\nlineas.push('- Si el cliente responde algo que ya veniamos hablando (color, modelo, visita), interpretalo en ese contexto.');\nlineas.push('- Cerra tu respuesta_cliente con UNA sola pregunta concreta que haga avanzar la venta (que modelo busca, 0km o usado, medio de pago, o proponer dia/hora de visita), salvo que corresponda escalar o el cliente ya haya agendado.');\nlineas.push('- Tono: humano y natural, porteño moderado (vos, dale, mirá) sin exagerar ni caer en caricatura. Mensajes cortos estilo WhatsApp, como los escribiria un vendedor real.');\nlineas.push('- No sones a asistente virtual: nada de \"estoy aqui para ayudarte\", \"en que mas te puedo ayudar?\" ni respuestas enlatadas. Varia la forma de arrancar cada mensaje.');\nlineas.push('- Prioriza preguntar antes que informar: da el minimo de informacion necesaria y termina calificando al cliente. Ejemplo: si preguntan por medios de pago, no listes todo; responde que hay varias opciones y pregunta con que medio estaba pensando manejarse.');\nlineas.push('');\nlineas.push('INTENCION (elegir UNA): DISPONIBILIDAD, PRECIO, STOCK, PROMOCION, FICHA_TECNICA, FINANCIACION, ENTREGA_USADO, AGENDAR_VISITA, DESCUENTO_NEGOCIACION, RECLAMO, INFO_GENERAL, TRABAJO_CV, POSVENTA_SERVICE, NO_ENTENDIDO');\nlineas.push('INFO_GENERAL = pregunta por horario, direccion, ubicacion, telefono, medios de pago u otra info del negocio.');\nlineas.push('TRABAJO_CV = pregunta por trabajo, empleo, busqueda laboral o quiere dejar su CV/curriculum.');\nlineas.push('POSVENTA_SERVICE = pregunta por service, garantia, taller o post-venta de un vehiculo ya comprado (no es venta de un vehiculo).');\nlineas.push('estado_lead: FRIO (consulta generica) | TIBIO (pregunta stock/precio/color/financiacion de un modelo puntual) | CALIENTE (quiere comprar, visitar, reservar o cerrar ya)');\nlineas.push('');\nlineas.push('resumen_vendedor: breve y accionable, maximo 15 palabras, sin fecha. NO repitas el nombre ni el telefono del cliente (ya figuran en su ficha). Si el cliente cambio de vehiculo de interes o de temperatura, indicalo ahi.');\nlineas.push('DEVOLVE EXACTAMENTE ESTA ESTRUCTURA JSON:');\nlineas.push('{\"intencion\":\"\",\"confianza\":\"alta|media|baja\",\"producto_mencionado\":\"\",\"tipo\":\"0KM|USADO|\",\"color_preferido\":\"\",\"medio_pago\":\"\",\"vehiculo_entregado\":\"\",\"dominio_patente\":\"\",\"presupuesto_aprox\":\"\",\"estado_lead\":\"FRIO|TIBIO|CALIENTE\",\"requiere_escalado\":false,\"motivo_escalado\":\"\",\"quiere_agendar\":false,\"fecha_hora_visita\":\"\",\"respuesta_cliente\":\"\",\"resumen_vendedor\":\"\",\"accion_recomendada\":\"\",\"proximo_paso\":\"\"}');\nlineas.push('');\nlineas.push('DATOS:');\nlineas.push('INFO DEL NEGOCIO (unica fuente valida para datos del negocio): ' + (infoNegocio.length ? infoNegocio.join(' | ') : 'sin datos cargados'));\nlineas.push('HISTORIAL RECIENTE CON ESTE CLIENTE (de mas viejo a mas nuevo):');\nlineas.push(histTexto || 'sin historial previo (primer contacto)');\nlineas.push('MENSAJE NUEVO DEL CLIENTE: ' + lead.mensaje);\nlineas.push('NOMBRE: ' + (lead.nombre || 'desconocido'));\nlineas.push('CANAL: ' + lead.canal);\nlineas.push('LEAD EXISTENTE: ' + (leadExistente ? JSON.stringify(leadExistente) : 'ninguno (cliente nuevo)'));\nlineas.push('STOCK CONFIRMADO (unico stock que existe): ' + (stockCoincidente.length ? JSON.stringify(stockCoincidente) : 'sin coincidencias en stock'));\nlineas.push('LISTADO GENERAL DE STOCK (usar SOLO segun la regla de consulta general): ' + (listadoStock.length ? listadoStock.join(' || ') : 'no aplica'));\nlineas.push('SENALES DETECTADAS POR SISTEMA: ' + (senales.length ? senales.join(', ') : 'ninguna'));\n\nreturn [{ json: {\n  prompt: lineas.join('\\n'),\n  lead,\n  timestamp: base.timestamp,\n  errores: base.errores || [],\n  existe: !!leadExistente,\n  lead_existente: leadExistente,\n  stock_coincidente: stockCoincidente,\n  info_negocio: infoNegocio,\n  historial_reciente: histReciente,\n  senales\n} }];\n"
      },
      "id": "4dc97efb-1a49-4b78-8958-195570d870c4",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}"
      },
      "id": "b79966b5-2b94-4b5a-a384-153d7f46bf9b",
      "name": "AI Clasificador",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1296,
        16
      ]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "id": "3c8fd729-940f-4f14-91cc-0d5dd54c7f81",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        1296,
        240
      ],
      "credentials": {
        "anthropicApi": {
          "id": "kbeF2OZ0AviWwmPH",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parseo y validacion determinista de la salida de la IA\nconst ctx = $('Preparar Contexto').first().json;\nconst lead = ctx.lead;\n\nconst raw = $input.first().json.text !== undefined ? $input.first().json.text : ($input.first().json.output || '');\nlet ia = null;\ntry {\n  const limpio = String(raw).replace(/```json|```/g, '').trim();\n  const ini = limpio.indexOf('{');\n  const fin = limpio.lastIndexOf('}');\n  if (ini >= 0 && fin > ini) ia = JSON.parse(limpio.substring(ini, fin + 1));\n} catch (e) { ia = null; }\n\nconst fallo_parseo = !ia;\nif (!ia) ia = { intencion: 'NO_ENTENDIDO', confianza: 'baja', respuesta_cliente: '', resumen_vendedor: 'La IA no devolvio JSON valido. Revisar manualmente.', requiere_escalado: true, motivo_escalado: 'salida_ia_invalida' };\n\n// Enums validados por codigo\nconst INTS = ['DISPONIBILIDAD','PRECIO','STOCK','PROMOCION','FICHA_TECNICA','FINANCIACION','ENTREGA_USADO','AGENDAR_VISITA','DESCUENTO_NEGOCIACION','RECLAMO','NO_ENTENDIDO','INFO_GENERAL','TRABAJO_CV','POSVENTA_SERVICE'];\nif (!INTS.includes(ia.intencion)) ia.intencion = 'NO_ENTENDIDO';\nconst nrm = (s) => String(s || '').toUpperCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst est = nrm(ia.estado_lead);\nia.estado_lead = est === 'CALIENTE' ? 'CALIENTE' : (est === 'TIBIO' ? 'TIBIO' : 'FR\\u00cdO');\nif (!['alta','media','baja'].includes(ia.confianza)) ia.confianza = 'baja';\n\n// El escalado deterministico manda sobre la IA\nconst INT_ESC = ['DESCUENTO_NEGOCIACION','FINANCIACION','ENTREGA_USADO','RECLAMO','NO_ENTENDIDO'];\nconst motivos = [];\nif (ia.requiere_escalado === true) motivos.push(ia.motivo_escalado || 'criterio_ia');\nif ((ctx.senales || []).length > 0) motivos.push('senales: ' + ctx.senales.join(','));\nif (INT_ESC.includes(ia.intencion)) motivos.push('intencion_' + ia.intencion.toLowerCase());\nif (ia.confianza === 'baja') motivos.push('confianza_baja');\nia.requiere_escalado = motivos.length > 0;\nia.motivo_escalado = motivos.join(' | ');\n\n// TRABAJO_CV y POSVENTA_SERVICE: respuesta fija, nunca escalan, no las redacta la IA\nif (ia.intencion === 'TRABAJO_CV' || ia.intencion === 'POSVENTA_SERVICE') {\n  ia.requiere_escalado = false;\n  ia.motivo_escalado = '';\n  if (ia.intencion === 'TRABAJO_CV') {\n    const horarioLinea = (ctx.info_negocio || []).find(l => l.toUpperCase().startsWith('HORARIO'));\n    const horarioTxt = horarioLinea ? horarioLinea.split(':').slice(1).join(':').trim() : 'nuestro horario de atencion';\n    ia.respuesta_cliente = 'Para dejar tu CV podes acercarte en persona a cualquiera de nuestras sucursales, dentro del horario de atencion: ' + horarioTxt + '.';\n  } else {\n    ia.respuesta_cliente = 'Estas hablando con el equipo de ventas. Para consultas de post-venta o service, escribinos por WhatsApp al 1151321582.';\n  }\n}\n\nif (!ia.respuesta_cliente) {\n  ia.respuesta_cliente = ia.requiere_escalado\n    ? 'Dejame confirmar bien ese dato y te escribo enseguida.'\n    : 'Contame un poco mas asi te oriento mejor.';\n}\n\n// Fila ESCALO_LEADS: nunca pisar datos existentes con vacio. PRECIO DE TOMA no se toca.\nconst ex = ctx.lead_existente || {};\nconst elegir = (nuevo, viejo) => (nuevo !== undefined && nuevo !== null && String(nuevo).trim() !== '') ? String(nuevo).trim() : (viejo !== undefined && viejo !== null ? String(viejo) : '');\nconst ahora = new Date();\nconst fecha = ahora.toISOString().substring(0, 10);\n// OBSERVACIONES IA: sin fecha, breve. Registra cambios de interes y de temperatura para el vendedor.\nlet obs = ex['OBSERVACIONES IA'] ? String(ex['OBSERVACIONES IA']) : '';\nconst cambios = [];\nconst vehAnt = String(ex['VEHÍCULO DE INTERÉS'] || '').trim();\nconst vehNuevo = String(ia.producto_mencionado || '').trim();\nif (vehNuevo && vehAnt && nrm(vehNuevo) !== nrm(vehAnt)) cambios.push('nuevo interes: ' + vehNuevo + ' (antes ' + vehAnt + ')');\nconst estAnt = String(ex['ESTADO'] || '').trim();\nif (estAnt && nrm(estAnt) !== nrm(ia.estado_lead)) cambios.push('paso de ' + estAnt + ' a ' + ia.estado_lead);\nlet nota = String(ia.resumen_vendedor || ia.intencion).trim();\n// Sin nombre del cliente (ya esta en su columna) y sin notas duplicadas\nconst nomCli = nrm(lead.nombre || '').trim();\nif (nomCli && nrm(nota).startsWith(nomCli)) nota = nota.slice(String(lead.nombre).length).replace(/^[\\s,:.\\-]+/, '');\nif (nota && obs && nrm(obs).includes(nrm(nota))) nota = '';\nif (ex['OBSERVACIONES IA'] && nota.length > 90) nota = nota.slice(0, 90);\nconst partes = cambios.concat(nota ? [nota] : []);\nobs = obs ? (obs + ' | ' + partes.join(' | ')) : partes.join(' | ');\nif (obs.length > 400) obs = obs.slice(-400);\n\nconst fila_lead = {};\nfila_lead['FECHA'] = ex['FECHA'] ? String(ex['FECHA']) : fecha;\nfila_lead['NOMBRE'] = elegir(lead.nombre, ex['NOMBRE']);\nfila_lead['CONTACTO'] = lead.contacto;\nfila_lead['ESTADO'] = ia.estado_lead;\nfila_lead['VEH\\u00cdCULO DE INTER\\u00c9S'] = elegir(ia.producto_mencionado, ex['VEH\\u00cdCULO DE INTER\\u00c9S']);\nfila_lead['TIPO'] = elegir(ia.tipo, ex['TIPO']);\nfila_lead['COLOR PREFERIDO'] = elegir(ia.color_preferido, ex['COLOR PREFERIDO']);\nfila_lead['MEDIO DE PAGO'] = elegir(ia.medio_pago, ex['MEDIO DE PAGO']);\nfila_lead['VEH\\u00cdCULO ENTREGADO'] = elegir(ia.vehiculo_entregado, ex['VEH\\u00cdCULO ENTREGADO']);\nfila_lead['DOMINIO/PATENTE'] = elegir(ia.dominio_patente, ex['DOMINIO/PATENTE']);\nfila_lead['PRESUPUESTO APROX.'] = elegir(ia.presupuesto_aprox, ex['PRESUPUESTO APROX.']);\nfila_lead['OBSERVACIONES IA'] = obs;\n\n// Fila ESCALO_HISTORIAL\nconst t0 = new Date(ctx.timestamp).getTime();\nconst fila_historial = {};\nfila_historial['TIMESTAMP'] = ctx.timestamp;\nfila_historial['TELEFONO'] = lead.contacto;\nfila_historial['NOMBRE'] = fila_lead['NOMBRE'];\nfila_historial['CANAL'] = lead.canal;\nfila_historial['MENSAJE ORIGINAL'] = lead.mensaje;\nfila_historial['PRODUCTO MENCIONADO'] = ia.producto_mencionado || '';\nfila_historial['INTENCION'] = ia.intencion;\nfila_historial['CONFIANZA'] = ia.confianza;\nfila_historial['REQUIERE ESCALADO'] = ia.requiere_escalado ? 'SI' : 'NO';\nfila_historial['MOTIVO ESCALADO'] = ia.motivo_escalado;\nfila_historial['RESPUESTA ENVIADA'] = ia.respuesta_cliente;\nfila_historial['TIPO RESPUESTA'] = ia.requiere_escalado ? 'ESCALADO' : 'AUTOMATICA';\nfila_historial['ACCION RECOMENDADA'] = ia.accion_recomendada || '';\nfila_historial['PROXIMO PASO'] = ia.proximo_paso || (ia.requiere_escalado ? 'derivar_vendedor' : 'responder_automatico');\nfila_historial['VENDEDOR ASIGNADO'] = '';\nfila_historial['ESTADO EJECUCION'] = fallo_parseo ? 'ERROR_PARSEO_IA' : 'OK';\nfila_historial['TIEMPO RESP (SEG)'] = Math.max(0, Math.round((Date.now() - t0) / 1000));\nfila_historial['NOTAS LOG'] = (ctx.errores && ctx.errores.length) ? ctx.errores.join(',') : '';\n\nconst ORDEN = ['TIMESTAMP','TELEFONO','NOMBRE','CANAL','MENSAJE ORIGINAL','PRODUCTO MENCIONADO','INTENCION','CONFIANZA','REQUIERE ESCALADO','MOTIVO ESCALADO','RESPUESTA ENVIADA','TIPO RESPUESTA','ACCION RECOMENDADA','PROXIMO PASO','VENDEDOR ASIGNADO','ESTADO EJECUCION','TIEMPO RESP (SEG)','NOTAS LOG'];\nconst fila_historial_valores = ORDEN.map(k => fila_historial[k] === undefined || fila_historial[k] === null ? '' : fila_historial[k]);\nreturn [{ json: { ia, fila_lead, fila_historial, fila_historial_valores, lead, existe: ctx.existe, timestamp: ctx.timestamp } }];"
      },
      "id": "722dbc79-056f-4955-bbc3-e2b20a2fa654",
      "name": "Validar Salida IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        16
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESCALO_LEADS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "FECHA": "={{ $json.fila_lead['FECHA'] }}",
            "NOMBRE": "={{ $json.fila_lead['NOMBRE'] }}",
            "CONTACTO": "={{ $json.fila_lead['CONTACTO'] }}",
            "ESTADO": "={{ $json.fila_lead['ESTADO'] }}",
            "VEHÍCULO DE INTERÉS": "={{ $json.fila_lead['VEHÍCULO DE INTERÉS'] }}",
            "TIPO": "={{ $json.fila_lead['TIPO'] }}",
            "COLOR PREFERIDO": "={{ $json.fila_lead['COLOR PREFERIDO'] }}",
            "MEDIO DE PAGO": "={{ $json.fila_lead['MEDIO DE PAGO'] }}",
            "VEHÍCULO ENTREGADO": "={{ $json.fila_lead['VEHÍCULO ENTREGADO'] }}",
            "DOMINIO/PATENTE": "={{ $json.fila_lead['DOMINIO/PATENTE'] }}",
            "PRESUPUESTO APROX.": "={{ $json.fila_lead['PRESUPUESTO APROX.'] }}",
            "OBSERVACIONES IA": "={{ $json.fila_lead['OBSERVACIONES IA'] }}"
          },
          "matchingColumns": [
            "CONTACTO"
          ],
          "schema": []
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "id": "4c65749b-3405-4dfb-b5d5-d57afef4e99c",
      "name": "Guardar Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1728,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI/values/ESCALO_HISTORIAL!A3:R:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [ $('Validar Salida IA').first().json.fila_historial_valores ] }) }}",
        "options": {}
      },
      "id": "4e79db62-b73a-4e7d-9f32-e6860af58ada",
      "name": "Guardar Historial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1936,
        16
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const v = $('Validar Salida IA').first().json;\nconst ia = v.ia;\nreturn [{ json: {\n  ok: true,\n  workflow: 'ESCALO-MVP-V2',\n  lead: { contacto: v.lead.contacto, nombre: v.fila_lead['NOMBRE'] || '', nuevo: !v.existe },\n  analisis: {\n    intencion: ia.intencion,\n    confianza: ia.confianza,\n    estado_lead: ia.estado_lead,\n    requiere_escalado: ia.requiere_escalado,\n    motivo_escalado: ia.motivo_escalado\n  },\n  accion: {\n    lead_actualizado: true,\n    historial_guardado: true,\n    evento_calendar_creado: false,\n    proximo_paso: ia.proximo_paso || (ia.requiere_escalado ? 'derivar_vendedor' : 'responder_automatico')\n  },\n  respuesta: { cliente: ia.respuesta_cliente, vendedor: ia.resumen_vendedor || '' },\n  errores: []\n} }];"
      },
      "id": "23ee47b7-76f8-4413-ae52-13e66d805cff",
      "name": "Ensamblar JSON Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Ensamblar JSON Final').item.json }}",
        "options": {}
      },
      "id": "ec2d46f6-c51d-4d97-9c02-65dd1a8388e1",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2576,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESCALO_NEGOCIO",
          "mode": "name"
        },
        "options": {}
      },
      "id": "fd3b76fd-c35c-4663-8970-1da39f5b8cda",
      "name": "Leer Negocio",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        880,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ESCALO_HISTORIAL",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeRows"
            }
          }
        }
      },
      "id": "b1b21562-9b8f-45b4-9e36-799b82f7e63f",
      "name": "Leer Historial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        224
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AP6CbVAiiS4GkpkH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "7f3e9a12-5c4d-4b8e-9f21-3a6d8e5b7c01",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        -176
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "escalo-wa",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "0de445e8-c1d3-4dc1-b08d-77dd94d254a4"
    },
    {
      "id": "2b8c4d6e-1f3a-4a5c-8d7e-9b0a1c2d3e4f",
      "name": "WA → normalizado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -176
      ],
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nconst body = inp.body || inp;\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || '');\nconst evento = String(body.event || '').toLowerCase().replace(/_/g, '.');\nif (evento && evento !== 'messages.upsert') return [];\nif (key.fromMe === true) return [];\nif (!remoteJid || remoteJid.endsWith('@g.us')) return [];\nconst msg = data.message || {};\nconst texto = String(msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || '').trim();\nif (!texto) { console.log('WA descartado sin texto:', remoteJid); return []; }\nconst contacto = remoteJid.split('@')[0].replace(/[^0-9]/g, '');\nconst timestamp = data.messageTimestamp ? new Date(Number(data.messageTimestamp) * 1000).toISOString() : new Date().toISOString();\nreturn [{ json: { contacto, nombre: data.pushName || '', canal: 'whatsapp', mensaje: texto, timestamp } }];"
      }
    },
    {
      "id": "5a1b2c3d-4e5f-4a6b-9c8d-7e6f5a4b3c2d",
      "name": "¿Enviar por WhatsApp?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2352,
        16
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1a2b3c4-d5e6-4f70-8a9b-0c1d2e3f4a5b",
              "leftValue": "={{ $('1. Normalizar').first().json.lead.canal }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d2b3c4d5-e6f7-4081-9bac-1d2e3f4a5b6c",
              "leftValue": "={{ $json.respuesta.cliente }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evo.escalo.com.ar/message/sendText/escalo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.lead.contacto, text: $json.respuesta.cliente }) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "7spabdoxFvIF01rq",
          "name": "Evolution API escalo"
        }
      }
    }
  ],
  "connections": {
    "Webhook ESCALO": {
      "main": [
        [
          {
            "node": "1. Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Normalizar": {
      "main": [
        [
          {
            "node": "Buscar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead": {
      "main": [
        [
          {
            "node": "Leer Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Stock": {
      "main": [
        [
          {
            "node": "Leer Negocio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "AI Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Clasificador": {
      "main": [
        [
          {
            "node": "Validar Salida IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Salida IA": {
      "main": [
        [
          {
            "node": "Guardar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Lead": {
      "main": [
        [
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Historial": {
      "main": [
        [
          {
            "node": "Ensamblar JSON Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Negocio": {
      "main": [
        [
          {
            "node": "Leer Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Historial": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "WA → normalizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WA → normalizado": {
      "main": [
        [
          {
            "node": "1. Normalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensamblar JSON Final": {
      "main": [
        [
          {
            "node": "¿Enviar por WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Enviar por WhatsApp?": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8e34be0a-7e87-4209-8570-8de23a5e807e",
  "activeVersionId": "8e34be0a-7e87-4209-8570-8de23a5e807e",
  "versionCounter": 11,
  "triggerCount": 2,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-09T13:16:44.577Z",
      "createdAt": "2026-07-09T13:16:44.577Z",
      "role": "workflow:owner",
      "workflowId": "6IB9N46IpcmpnXmX",
      "projectId": "nLGcO585Zk5KjGQm",
      "project": {
        "updatedAt": "2026-07-09T00:32:39.214Z",
        "createdAt": "2026-07-09T00:29:24.738Z",
        "id": "nLGcO585Zk5KjGQm",
        "name": "jair infante  <infantepridebailo.j@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "f1dc15be-63c7-4331-91ee-5eb8e585999c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-07-10T17:48:32.303Z",
    "createdAt": "2026-07-10T17:48:32.303Z",
    "versionId": "8e34be0a-7e87-4209-8570-8de23a5e807e",
    "workflowId": "6IB9N46IpcmpnXmX",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "escalo-v2-test",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "dffee735-b1a8-4e72-b9aa-08f07a9f3e2b",
        "name": "Webhook ESCALO",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          16
        ],
        "webhookId": "c32a831e-7f1e-4406-a829-23876b5418db"
      },
      {
        "parameters": {
          "jsCode": "const inp = $input.first().json;\nconst body = inp.body || inp;\nconst errores = [];\nconst limpiarTel = (v) => v ? String(v).replace(/[^0-9]/g, '') : '';\nconst cap = (v) => { if (!v) return ''; v = String(v).trim().toLowerCase(); return v.charAt(0).toUpperCase() + v.slice(1); };\nlet contacto = limpiarTel(body.contacto || body.telefono || body.phone || body.from);\nif (!contacto) { contacto = 'desconocido'; errores.push('contacto_ausente'); }\nconst nombre = body.nombre ? cap(body.nombre) : '';\nlet canal = String(body.canal || body.channel || 'webhook-test').trim().toLowerCase();\nif (!['whatsapp','instagram','web','webhook-test','otro','desconocido'].includes(canal)) canal = 'otro';\nlet mensaje = String(body.mensaje || body.message || body.texto || '').trim();\nif (!mensaje) { errores.push('mensaje_vacio'); }\nconst timestamp = new Date().toISOString();\nreturn [{ json: { lead: { contacto, nombre, canal, mensaje }, timestamp, errores } }];"
        },
        "id": "f8fd9738-7293-493f-8581-7fe058cedee6",
        "name": "1. Normalizar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          16
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ESCALO_LEADS",
            "mode": "name"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "CONTACTO",
                "lookupValue": "={{ $json.lead.contacto }}"
              }
            ]
          },
          "options": {}
        },
        "id": "9178ea00-88c9-4f73-bb05-a5ba2d65b76c",
        "name": "Buscar Lead",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          672,
          16
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ESCALO_STOCK",
            "mode": "name"
          },
          "options": {}
        },
        "id": "d4134462-6968-45c5-a834-f63b69e32716",
        "name": "Leer Stock",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          880,
          16
        ],
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Junta lead + lead existente + stock filtrado + info negocio + historial y arma el prompt minimo para la IA\nconst base = $('1. Normalizar').first().json;\nconst lead = base.lead;\n\nconst norm = (s) => String(s || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\nconst msg = norm(lead.mensaje);\nconst findKey = (obj, frag) => Object.keys(obj).find(k => norm(k).includes(frag));\n\n// Lead existente (Buscar Lead emite un item vacio si no hubo match)\nlet leadExistente = null;\ntry {\n  const rows = $('Buscar Lead').all().map(i => i.json).filter(r => r && r.CONTACTO);\n  if (rows.length > 0) leadExistente = rows[0];\n} catch (e) {}\n\n// Stock: matchea si algun token (>=3 letras) del MODELO o la MARCA aparece en el mensaje (max 5)\nlet stockRows = [];\ntry { stockRows = $('Leer Stock').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst tokensDe = (s) => norm(s).split(/[^a-z0-9]+/).filter(t => t.length >= 3);\nconst msgTokens = new Set(tokensDe(lead.mensaje));\nconst stockCoincidente = [];\nfor (const row of stockRows) {\n  const kModelo = findKey(row, 'modelo');\n  const kMarca = findKey(row, 'marca');\n  const toks = tokensDe(kModelo ? row[kModelo] : '').concat(tokensDe(kMarca ? row[kMarca] : ''));\n  if (toks.some(t => msgTokens.has(t))) stockCoincidente.push(row);\n  if (stockCoincidente.length >= 5) break;\n}\n\n// Consulta general de stock/usados (sin modelo puntual): listado compacto de todo el stock\nconst consultaGeneralStock = /\\b(usados?|stock|autos?|vehiculos?|camionetas?|suv|disponibles?|lista|listado|catalogo|modelos)\\b|que (tenes|tienen|hay)/.test(msg);\nlet listadoStock = [];\nif (consultaGeneralStock) {\n  listadoStock = stockRows.slice(0, 20).map(r => {\n    const g = (frag) => { const k = findKey(r, frag); return k ? String(r[k] || '').trim() : ''; };\n    return [g('tipo'), g('marca'), g('modelo'), g('ano'), g('color'), g('estado'), g('observ')].filter(Boolean).join(' · ');\n  }).filter(Boolean);\n}\n\n// Info del negocio (pestana ESCALO_NEGOCIO, pares CLAVE/VALOR). Solo claves con valor real.\nlet negocioRows = [];\ntry { negocioRows = $('Leer Negocio').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst infoNegocio = [];\nfor (const row of negocioRows) {\n  const kC = findKey(row, 'clave');\n  const kV = findKey(row, 'valor');\n  if (!kC || !kV) continue;\n  const c = String(row[kC] || '').trim();\n  const v = String(row[kV] || '').trim();\n  if (!c || !v || norm(v) === 'completar') continue;\n  infoNegocio.push(c + ': ' + v);\n}\n\n// Historial reciente de ESTE contacto (ultimos 6 intercambios previos)\nlet histRows = [];\ntry { histRows = $('Leer Historial').all().map(i => i.json).filter(r => r && Object.keys(r).length > 0); } catch (e) {}\nconst soloDigitos = (s) => String(s || '').replace(/[^0-9]/g, '');\nconst telCliente = soloDigitos(lead.contacto);\nconst histCliente = [];\nfor (const row of histRows) {\n  const kTel = findKey(row, 'telefono');\n  if (!kTel || !telCliente || soloDigitos(row[kTel]) !== telCliente) continue;\n  const kMsg = findKey(row, 'mensaje');\n  const kResp = findKey(row, 'respuesta');\n  const kTs = findKey(row, 'timestamp');\n  histCliente.push({\n    ts: kTs ? String(row[kTs] || '') : '',\n    cliente: kMsg ? String(row[kMsg] || '') : '',\n    ia: kResp ? String(row[kResp] || '') : ''\n  });\n}\nconst histReciente = histCliente.slice(-6);\nconst histTexto = histReciente.map(hx => 'Cliente: ' + hx.cliente + '\\nVos respondiste: ' + hx.ia).join('\\n');\n\n// Senales deterministas de escalado (independientes de la IA)\nconst senales = [];\nif (/descuent|rebaj|negoci|mejor precio/.test(msg)) senales.push('descuento_negociacion');\nif (/financi|cuota|credito|prestamo/.test(msg)) senales.push('financiacion');\nif (/entrego|entregar|permuta|mi usado|toma de|tomarian/.test(msg)) senales.push('entrega_usado');\nif (/reclam|queja|problema|falla|garant/.test(msg)) senales.push('reclamo');\nif (/comprar|reserv|sena|senia|cerrar/.test(msg)) senales.push('cierre_compra');\n\nconst lineas = [];\nlineas.push('Sos el asistente IA de una concesionaria de autos. Analiza el mensaje del cliente y devolve SOLO un objeto JSON valido. Sin markdown, sin texto extra, sin bloques de codigo.');\nlineas.push('');\nlineas.push('REGLAS ESTRICTAS:');\nlineas.push('- NUNCA inventes precios, stock, colores, financiacion, descuentos ni disponibilidad. Solo pode usar lo que figura en STOCK CONFIRMADO.');\nlineas.push('- Si el dato que pide el cliente no esta en STOCK CONFIRMADO: no lo afirmes y marca requiere_escalado=true.');\nlineas.push('- Horario, direccion, telefono, medios de pago, promociones y datos del negocio: respondelos SOLO con lo que figura en INFO DEL NEGOCIO. Si el dato no figura ahi, no lo inventes: respondele con una frase natural pidiendo confirmar ese dato (sin mencionar \"asesor\" ni el proceso interno) y marca requiere_escalado=true.');\nlineas.push('- MEDIOS DE PAGO: si el cliente pregunta en general como puede pagar o que medios de pago hay, NO listes las opciones aunque figuren en INFO DEL NEGOCIO. Respondele natural que hay varias formas de manejarlo y preguntale como estaba pensando manejarse (contado, financiado, o entregando un usado en parte de pago). Recien si pregunta por UN medio puntual (ej: aceptan tarjeta?) confirmale SOLO ese dato segun INFO DEL NEGOCIO y segui con una pregunta que avance la venta. Tenes PROHIBIDO mencionar medios de pago que el cliente no pregunto (nada de: tambien podes pagar con..., o explorar financiacion, etc.).');\nlineas.push('- Respondé UNICAMENTE lo que el cliente pregunto en su mensaje. No agregues datos que no pidio aunque figuren en INFO DEL NEGOCIO o en el stock (ejemplo: si pregunta la ubicacion, no menciones el horario salvo que tambien lo haya preguntado).');\nlineas.push('- CONSULTA GENERAL DE USADOS/AUTOS/STOCK (el cliente pregunta que hay, sin nombrar un modelo): NO pases el listado de entrada. Respondele natural que hay variedad y calificalo organico con UNA pregunta por mensaje: que busca (auto, SUV o camioneta), presupuesto aproximado, 0km o usado. SOLO si el cliente insiste (segun HISTORIAL RECIENTE ya lo calificaste o ya esquivaste la lista una vez y la vuelve a pedir, o pide explicito que le pases todo lo que hay) pasale el LISTADO GENERAL DE STOCK: una linea por unidad con año, modelo, kilometraje (solo si figura) y color. Incluye tambien las unidades en ingreso si figuran asi en su estado.');\nlineas.push('- Si STOCK CONFIRMADO dice sin coincidencias y el modelo tampoco esta en LISTADO GENERAL DE STOCK: tenes PROHIBIDO afirmar que hay una unidad o describirla (nada de año, km ni color inventados). Decile que ahora no lo tenes disponible y ofrece averiguarlo, manteniendo coherencia con lo que ya le dijiste antes segun HISTORIAL RECIENTE.');\nlineas.push('- Para 0KM: solo confirma un color si figura en la columna COLORES DISP. del stock.');\nlineas.push('- Para USADO con condicion EN TALLER: no prometas visita inmediata.');\nlineas.push('- Nunca menciones ni estimes el valor de toma de un usado. Eso lo define un humano.');\nlineas.push('- dominio_patente y vehiculo_entregado refieren SOLO al vehiculo que el cliente ENTREGA en parte de pago. Nunca copies ahi la patente de un auto del stock. Si el cliente no entrega nada, dejalos vacios.');\nlineas.push('- Escalado obligatorio (requiere_escalado=true) si hay: pedido de descuento o negociacion, consulta especifica de financiacion, entrega de usado en parte de pago, reclamo, o intencion de cerrar compra/reserva/sena.');\nlineas.push('- FINANCIACION: no des detalles de planes ni tasas. Decile que hay opciones de financiacion y pedile el DNI y con cuanto anticipo cuenta, para que el equipo le prepare una simulacion. Marca requiere_escalado=true.');\nlineas.push('- ENTREGA_USADO: decile que tomamos usados en parte de pago, sujeto a peritaje. Pedile marca, modelo, año, kilometraje y estado general del vehiculo para avanzar con una tasacion aproximada que hace el equipo. Nunca des vos un valor. Marca requiere_escalado=true.');\nlineas.push('- Si el cliente pasa su DNI, anticipo o datos de su usado, incluilos en resumen_vendedor.');\nlineas.push('- Si falta informacion confirmada o tenes poca certeza: requiere_escalado=true y confianza baja.');\nlineas.push('');\nlineas.push('CONVERSACION (ida y vuelta):');\nlineas.push('- Tu objetivo es avanzar al cliente paso a paso hasta que agende una visita o quede calificado para el vendedor.');\nlineas.push('- Usa HISTORIAL RECIENTE como memoria: no repitas saludos, presentaciones ni preguntas ya hechas. Si HISTORIAL RECIENTE no esta vacio, tenes PROHIBIDO saludar de nuevo (nada de \"Hola\" ni usar el nombre como apertura): segui la charla directo, como si ya estuviera en curso.');\nlineas.push('- Si el cliente responde algo que ya veniamos hablando (color, modelo, visita), interpretalo en ese contexto.');\nlineas.push('- Cerra tu respuesta_cliente con UNA sola pregunta concreta que haga avanzar la venta (que modelo busca, 0km o usado, medio de pago, o proponer dia/hora de visita), salvo que corresponda escalar o el cliente ya haya agendado.');\nlineas.push('- Tono: humano y natural, porteño moderado (vos, dale, mirá) sin exagerar ni caer en caricatura. Mensajes cortos estilo WhatsApp, como los escribiria un vendedor real.');\nlineas.push('- No sones a asistente virtual: nada de \"estoy aqui para ayudarte\", \"en que mas te puedo ayudar?\" ni respuestas enlatadas. Varia la forma de arrancar cada mensaje.');\nlineas.push('- Prioriza preguntar antes que informar: da el minimo de informacion necesaria y termina calificando al cliente. Ejemplo: si preguntan por medios de pago, no listes todo; responde que hay varias opciones y pregunta con que medio estaba pensando manejarse.');\nlineas.push('');\nlineas.push('INTENCION (elegir UNA): DISPONIBILIDAD, PRECIO, STOCK, PROMOCION, FICHA_TECNICA, FINANCIACION, ENTREGA_USADO, AGENDAR_VISITA, DESCUENTO_NEGOCIACION, RECLAMO, INFO_GENERAL, TRABAJO_CV, POSVENTA_SERVICE, NO_ENTENDIDO');\nlineas.push('INFO_GENERAL = pregunta por horario, direccion, ubicacion, telefono, medios de pago u otra info del negocio.');\nlineas.push('TRABAJO_CV = pregunta por trabajo, empleo, busqueda laboral o quiere dejar su CV/curriculum.');\nlineas.push('POSVENTA_SERVICE = pregunta por service, garantia, taller o post-venta de un vehiculo ya comprado (no es venta de un vehiculo).');\nlineas.push('estado_lead: FRIO (consulta generica) | TIBIO (pregunta stock/precio/color/financiacion de un modelo puntual) | CALIENTE (quiere comprar, visitar, reservar o cerrar ya)');\nlineas.push('');\nlineas.push('resumen_vendedor: breve y accionable, maximo 15 palabras, sin fecha. NO repitas el nombre ni el telefono del cliente (ya figuran en su ficha). Si el cliente cambio de vehiculo de interes o de temperatura, indicalo ahi.');\nlineas.push('DEVOLVE EXACTAMENTE ESTA ESTRUCTURA JSON:');\nlineas.push('{\"intencion\":\"\",\"confianza\":\"alta|media|baja\",\"producto_mencionado\":\"\",\"tipo\":\"0KM|USADO|\",\"color_preferido\":\"\",\"medio_pago\":\"\",\"vehiculo_entregado\":\"\",\"dominio_patente\":\"\",\"presupuesto_aprox\":\"\",\"estado_lead\":\"FRIO|TIBIO|CALIENTE\",\"requiere_escalado\":false,\"motivo_escalado\":\"\",\"quiere_agendar\":false,\"fecha_hora_visita\":\"\",\"respuesta_cliente\":\"\",\"resumen_vendedor\":\"\",\"accion_recomendada\":\"\",\"proximo_paso\":\"\"}');\nlineas.push('');\nlineas.push('DATOS:');\nlineas.push('INFO DEL NEGOCIO (unica fuente valida para datos del negocio): ' + (infoNegocio.length ? infoNegocio.join(' | ') : 'sin datos cargados'));\nlineas.push('HISTORIAL RECIENTE CON ESTE CLIENTE (de mas viejo a mas nuevo):');\nlineas.push(histTexto || 'sin historial previo (primer contacto)');\nlineas.push('MENSAJE NUEVO DEL CLIENTE: ' + lead.mensaje);\nlineas.push('NOMBRE: ' + (lead.nombre || 'desconocido'));\nlineas.push('CANAL: ' + lead.canal);\nlineas.push('LEAD EXISTENTE: ' + (leadExistente ? JSON.stringify(leadExistente) : 'ninguno (cliente nuevo)'));\nlineas.push('STOCK CONFIRMADO (unico stock que existe): ' + (stockCoincidente.length ? JSON.stringify(stockCoincidente) : 'sin coincidencias en stock'));\nlineas.push('LISTADO GENERAL DE STOCK (usar SOLO segun la regla de consulta general): ' + (listadoStock.length ? listadoStock.join(' || ') : 'no aplica'));\nlineas.push('SENALES DETECTADAS POR SISTEMA: ' + (senales.length ? senales.join(', ') : 'ninguna'));\n\nreturn [{ json: {\n  prompt: lineas.join('\\n'),\n  lead,\n  timestamp: base.timestamp,\n  errores: base.errores || [],\n  existe: !!leadExistente,\n  lead_existente: leadExistente,\n  stock_coincidente: stockCoincidente,\n  info_negocio: infoNegocio,\n  historial_reciente: histReciente,\n  senales\n} }];\n"
        },
        "id": "4dc97efb-1a49-4b78-8958-195570d870c4",
        "name": "Preparar Contexto",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          16
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}"
        },
        "id": "b79966b5-2b94-4b5a-a384-153d7f46bf9b",
        "name": "AI Clasificador",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.5,
        "position": [
          1296,
          16
        ]
      },
      {
        "parameters": {
          "model": "claude-haiku-4-5-20251001",
          "options": {}
        },
        "id": "3c8fd729-940f-4f14-91cc-0d5dd54c7f81",
        "name": "Anthropic Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
        "typeVersion": 1,
        "position": [
          1296,
          240
        ],
        "credentials": {
          "anthropicApi": {
            "id": "kbeF2OZ0AviWwmPH",
            "name": "Anthropic account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parseo y validacion determinista de la salida de la IA\nconst ctx = $('Preparar Contexto').first().json;\nconst lead = ctx.lead;\n\nconst raw = $input.first().json.text !== undefined ? $input.first().json.text : ($input.first().json.output || '');\nlet ia = null;\ntry {\n  const limpio = String(raw).replace(/```json|```/g, '').trim();\n  const ini = limpio.indexOf('{');\n  const fin = limpio.lastIndexOf('}');\n  if (ini >= 0 && fin > ini) ia = JSON.parse(limpio.substring(ini, fin + 1));\n} catch (e) { ia = null; }\n\nconst fallo_parseo = !ia;\nif (!ia) ia = { intencion: 'NO_ENTENDIDO', confianza: 'baja', respuesta_cliente: '', resumen_vendedor: 'La IA no devolvio JSON valido. Revisar manualmente.', requiere_escalado: true, motivo_escalado: 'salida_ia_invalida' };\n\n// Enums validados por codigo\nconst INTS = ['DISPONIBILIDAD','PRECIO','STOCK','PROMOCION','FICHA_TECNICA','FINANCIACION','ENTREGA_USADO','AGENDAR_VISITA','DESCUENTO_NEGOCIACION','RECLAMO','NO_ENTENDIDO','INFO_GENERAL','TRABAJO_CV','POSVENTA_SERVICE'];\nif (!INTS.includes(ia.intencion)) ia.intencion = 'NO_ENTENDIDO';\nconst nrm = (s) => String(s || '').toUpperCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst est = nrm(ia.estado_lead);\nia.estado_lead = est === 'CALIENTE' ? 'CALIENTE' : (est === 'TIBIO' ? 'TIBIO' : 'FR\\u00cdO');\nif (!['alta','media','baja'].includes(ia.confianza)) ia.confianza = 'baja';\n\n// El escalado deterministico manda sobre la IA\nconst INT_ESC = ['DESCUENTO_NEGOCIACION','FINANCIACION','ENTREGA_USADO','RECLAMO','NO_ENTENDIDO'];\nconst motivos = [];\nif (ia.requiere_escalado === true) motivos.push(ia.motivo_escalado || 'criterio_ia');\nif ((ctx.senales || []).length > 0) motivos.push('senales: ' + ctx.senales.join(','));\nif (INT_ESC.includes(ia.intencion)) motivos.push('intencion_' + ia.intencion.toLowerCase());\nif (ia.confianza === 'baja') motivos.push('confianza_baja');\nia.requiere_escalado = motivos.length > 0;\nia.motivo_escalado = motivos.join(' | ');\n\n// TRABAJO_CV y POSVENTA_SERVICE: respuesta fija, nunca escalan, no las redacta la IA\nif (ia.intencion === 'TRABAJO_CV' || ia.intencion === 'POSVENTA_SERVICE') {\n  ia.requiere_escalado = false;\n  ia.motivo_escalado = '';\n  if (ia.intencion === 'TRABAJO_CV') {\n    const horarioLinea = (ctx.info_negocio || []).find(l => l.toUpperCase().startsWith('HORARIO'));\n    const horarioTxt = horarioLinea ? horarioLinea.split(':').slice(1).join(':').trim() : 'nuestro horario de atencion';\n    ia.respuesta_cliente = 'Para dejar tu CV podes acercarte en persona a cualquiera de nuestras sucursales, dentro del horario de atencion: ' + horarioTxt + '.';\n  } else {\n    ia.respuesta_cliente = 'Estas hablando con el equipo de ventas. Para consultas de post-venta o service, escribinos por WhatsApp al 1151321582.';\n  }\n}\n\nif (!ia.respuesta_cliente) {\n  ia.respuesta_cliente = ia.requiere_escalado\n    ? 'Dejame confirmar bien ese dato y te escribo enseguida.'\n    : 'Contame un poco mas asi te oriento mejor.';\n}\n\n// Fila ESCALO_LEADS: nunca pisar datos existentes con vacio. PRECIO DE TOMA no se toca.\nconst ex = ctx.lead_existente || {};\nconst elegir = (nuevo, viejo) => (nuevo !== undefined && nuevo !== null && String(nuevo).trim() !== '') ? String(nuevo).trim() : (viejo !== undefined && viejo !== null ? String(viejo) : '');\nconst ahora = new Date();\nconst fecha = ahora.toISOString().substring(0, 10);\n// OBSERVACIONES IA: sin fecha, breve. Registra cambios de interes y de temperatura para el vendedor.\nlet obs = ex['OBSERVACIONES IA'] ? String(ex['OBSERVACIONES IA']) : '';\nconst cambios = [];\nconst vehAnt = String(ex['VEHÍCULO DE INTERÉS'] || '').trim();\nconst vehNuevo = String(ia.producto_mencionado || '').trim();\nif (vehNuevo && vehAnt && nrm(vehNuevo) !== nrm(vehAnt)) cambios.push('nuevo interes: ' + vehNuevo + ' (antes ' + vehAnt + ')');\nconst estAnt = String(ex['ESTADO'] || '').trim();\nif (estAnt && nrm(estAnt) !== nrm(ia.estado_lead)) cambios.push('paso de ' + estAnt + ' a ' + ia.estado_lead);\nlet nota = String(ia.resumen_vendedor || ia.intencion).trim();\n// Sin nombre del cliente (ya esta en su columna) y sin notas duplicadas\nconst nomCli = nrm(lead.nombre || '').trim();\nif (nomCli && nrm(nota).startsWith(nomCli)) nota = nota.slice(String(lead.nombre).length).replace(/^[\\s,:.\\-]+/, '');\nif (nota && obs && nrm(obs).includes(nrm(nota))) nota = '';\nif (ex['OBSERVACIONES IA'] && nota.length > 90) nota = nota.slice(0, 90);\nconst partes = cambios.concat(nota ? [nota] : []);\nobs = obs ? (obs + ' | ' + partes.join(' | ')) : partes.join(' | ');\nif (obs.length > 400) obs = obs.slice(-400);\n\nconst fila_lead = {};\nfila_lead['FECHA'] = ex['FECHA'] ? String(ex['FECHA']) : fecha;\nfila_lead['NOMBRE'] = elegir(lead.nombre, ex['NOMBRE']);\nfila_lead['CONTACTO'] = lead.contacto;\nfila_lead['ESTADO'] = ia.estado_lead;\nfila_lead['VEH\\u00cdCULO DE INTER\\u00c9S'] = elegir(ia.producto_mencionado, ex['VEH\\u00cdCULO DE INTER\\u00c9S']);\nfila_lead['TIPO'] = elegir(ia.tipo, ex['TIPO']);\nfila_lead['COLOR PREFERIDO'] = elegir(ia.color_preferido, ex['COLOR PREFERIDO']);\nfila_lead['MEDIO DE PAGO'] = elegir(ia.medio_pago, ex['MEDIO DE PAGO']);\nfila_lead['VEH\\u00cdCULO ENTREGADO'] = elegir(ia.vehiculo_entregado, ex['VEH\\u00cdCULO ENTREGADO']);\nfila_lead['DOMINIO/PATENTE'] = elegir(ia.dominio_patente, ex['DOMINIO/PATENTE']);\nfila_lead['PRESUPUESTO APROX.'] = elegir(ia.presupuesto_aprox, ex['PRESUPUESTO APROX.']);\nfila_lead['OBSERVACIONES IA'] = obs;\n\n// Fila ESCALO_HISTORIAL\nconst t0 = new Date(ctx.timestamp).getTime();\nconst fila_historial = {};\nfila_historial['TIMESTAMP'] = ctx.timestamp;\nfila_historial['TELEFONO'] = lead.contacto;\nfila_historial['NOMBRE'] = fila_lead['NOMBRE'];\nfila_historial['CANAL'] = lead.canal;\nfila_historial['MENSAJE ORIGINAL'] = lead.mensaje;\nfila_historial['PRODUCTO MENCIONADO'] = ia.producto_mencionado || '';\nfila_historial['INTENCION'] = ia.intencion;\nfila_historial['CONFIANZA'] = ia.confianza;\nfila_historial['REQUIERE ESCALADO'] = ia.requiere_escalado ? 'SI' : 'NO';\nfila_historial['MOTIVO ESCALADO'] = ia.motivo_escalado;\nfila_historial['RESPUESTA ENVIADA'] = ia.respuesta_cliente;\nfila_historial['TIPO RESPUESTA'] = ia.requiere_escalado ? 'ESCALADO' : 'AUTOMATICA';\nfila_historial['ACCION RECOMENDADA'] = ia.accion_recomendada || '';\nfila_historial['PROXIMO PASO'] = ia.proximo_paso || (ia.requiere_escalado ? 'derivar_vendedor' : 'responder_automatico');\nfila_historial['VENDEDOR ASIGNADO'] = '';\nfila_historial['ESTADO EJECUCION'] = fallo_parseo ? 'ERROR_PARSEO_IA' : 'OK';\nfila_historial['TIEMPO RESP (SEG)'] = Math.max(0, Math.round((Date.now() - t0) / 1000));\nfila_historial['NOTAS LOG'] = (ctx.errores && ctx.errores.length) ? ctx.errores.join(',') : '';\n\nconst ORDEN = ['TIMESTAMP','TELEFONO','NOMBRE','CANAL','MENSAJE ORIGINAL','PRODUCTO MENCIONADO','INTENCION','CONFIANZA','REQUIERE ESCALADO','MOTIVO ESCALADO','RESPUESTA ENVIADA','TIPO RESPUESTA','ACCION RECOMENDADA','PROXIMO PASO','VENDEDOR ASIGNADO','ESTADO EJECUCION','TIEMPO RESP (SEG)','NOTAS LOG'];\nconst fila_historial_valores = ORDEN.map(k => fila_historial[k] === undefined || fila_historial[k] === null ? '' : fila_historial[k]);\nreturn [{ json: { ia, fila_lead, fila_historial, fila_historial_valores, lead, existe: ctx.existe, timestamp: ctx.timestamp } }];"
        },
        "id": "722dbc79-056f-4955-bbc3-e2b20a2fa654",
        "name": "Validar Salida IA",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          16
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ESCALO_LEADS",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "FECHA": "={{ $json.fila_lead['FECHA'] }}",
              "NOMBRE": "={{ $json.fila_lead['NOMBRE'] }}",
              "CONTACTO": "={{ $json.fila_lead['CONTACTO'] }}",
              "ESTADO": "={{ $json.fila_lead['ESTADO'] }}",
              "VEHÍCULO DE INTERÉS": "={{ $json.fila_lead['VEHÍCULO DE INTERÉS'] }}",
              "TIPO": "={{ $json.fila_lead['TIPO'] }}",
              "COLOR PREFERIDO": "={{ $json.fila_lead['COLOR PREFERIDO'] }}",
              "MEDIO DE PAGO": "={{ $json.fila_lead['MEDIO DE PAGO'] }}",
              "VEHÍCULO ENTREGADO": "={{ $json.fila_lead['VEHÍCULO ENTREGADO'] }}",
              "DOMINIO/PATENTE": "={{ $json.fila_lead['DOMINIO/PATENTE'] }}",
              "PRESUPUESTO APROX.": "={{ $json.fila_lead['PRESUPUESTO APROX.'] }}",
              "OBSERVACIONES IA": "={{ $json.fila_lead['OBSERVACIONES IA'] }}"
            },
            "matchingColumns": [
              "CONTACTO"
            ],
            "schema": []
          },
          "options": {
            "cellFormat": "RAW"
          }
        },
        "id": "4c65749b-3405-4dfb-b5d5-d57afef4e99c",
        "name": "Guardar Lead",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1728,
          16
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sheets.googleapis.com/v4/spreadsheets/133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI/values/ESCALO_HISTORIAL!A3:R:append?valueInputOption=RAW&insertDataOption=INSERT_ROWS",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleSheetsOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ values: [ $('Validar Salida IA').first().json.fila_historial_valores ] }) }}",
          "options": {}
        },
        "id": "4e79db62-b73a-4e7d-9f32-e6860af58ada",
        "name": "Guardar Historial",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1936,
          16
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const v = $('Validar Salida IA').first().json;\nconst ia = v.ia;\nreturn [{ json: {\n  ok: true,\n  workflow: 'ESCALO-MVP-V2',\n  lead: { contacto: v.lead.contacto, nombre: v.fila_lead['NOMBRE'] || '', nuevo: !v.existe },\n  analisis: {\n    intencion: ia.intencion,\n    confianza: ia.confianza,\n    estado_lead: ia.estado_lead,\n    requiere_escalado: ia.requiere_escalado,\n    motivo_escalado: ia.motivo_escalado\n  },\n  accion: {\n    lead_actualizado: true,\n    historial_guardado: true,\n    evento_calendar_creado: false,\n    proximo_paso: ia.proximo_paso || (ia.requiere_escalado ? 'derivar_vendedor' : 'responder_automatico')\n  },\n  respuesta: { cliente: ia.respuesta_cliente, vendedor: ia.resumen_vendedor || '' },\n  errores: []\n} }];"
        },
        "id": "23ee47b7-76f8-4413-ae52-13e66d805cff",
        "name": "Ensamblar JSON Final",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2144,
          16
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $('Ensamblar JSON Final').item.json }}",
          "options": {}
        },
        "id": "ec2d46f6-c51d-4d97-9c02-65dd1a8388e1",
        "name": "Responder Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          2576,
          112
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ESCALO_NEGOCIO",
            "mode": "name"
          },
          "options": {}
        },
        "id": "fd3b76fd-c35c-4663-8970-1da39f5b8cda",
        "name": "Leer Negocio",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          880,
          224
        ],
        "executeOnce": true,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "133rSjQRgaBtv7LZMEiPkDUYpS-0tU89Fsv5Qw8HDGLI",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "ESCALO_HISTORIAL",
            "mode": "name"
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "specifyRangeRows"
              }
            }
          }
        },
        "id": "b1b21562-9b8f-45b4-9e36-799b82f7e63f",
        "name": "Leer Historial",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1104,
          224
        ],
        "executeOnce": true,
        "alwaysOutputData": true,
        "onError": "continueRegularOutput",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "AP6CbVAiiS4GkpkH",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "id": "7f3e9a12-5c4d-4b8e-9f21-3a6d8e5b7c01",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          -176
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "escalo-wa",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "0de445e8-c1d3-4dc1-b08d-77dd94d254a4"
      },
      {
        "id": "2b8c4d6e-1f3a-4a5c-8d7e-9b0a1c2d3e4f",
        "name": "WA → normalizado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          -176
        ],
        "parameters": {
          "jsCode": "const inp = $input.first().json;\nconst body = inp.body || inp;\nconst data = body.data || {};\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || '');\nconst evento = String(body.event || '').toLowerCase().replace(/_/g, '.');\nif (evento && evento !== 'messages.upsert') return [];\nif (key.fromMe === true) return [];\nif (!remoteJid || remoteJid.endsWith('@g.us')) return [];\nconst msg = data.message || {};\nconst texto = String(msg.conversation || (msg.extendedTextMessage && msg.extendedTextMessage.text) || '').trim();\nif (!texto) { console.log('WA descartado sin texto:', remoteJid); return []; }\nconst contacto = remoteJid.split('@')[0].replace(/[^0-9]/g, '');\nconst timestamp = data.messageTimestamp ? new Date(Number(data.messageTimestamp) * 1000).toISOString() : new Date().toISOString();\nreturn [{ json: { contacto, nombre: data.pushName || '', canal: 'whatsapp', mensaje: texto, timestamp } }];"
        }
      },
      {
        "id": "5a1b2c3d-4e5f-4a6b-9c8d-7e6f5a4b3c2d",
        "name": "¿Enviar por WhatsApp?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2352,
          16
        ],
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c1a2b3c4-d5e6-4f70-8a9b-0c1d2e3f4a5b",
                "leftValue": "={{ $('1. Normalizar').first().json.lead.canal }}",
                "rightValue": "whatsapp",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "d2b3c4d5-e6f7-4081-9bac-1d2e3f4a5b6c",
                "leftValue": "={{ $json.respuesta.cliente }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "9e8d7c6b-5a4f-4e3d-8c2b-1a0f9e8d7c6b",
        "name": "Enviar WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2576,
          -80
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evo.escalo.com.ar/message/sendText/escalo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ number: $json.lead.contacto, text: $json.respuesta.cliente }) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "7spabdoxFvIF01rq",
            "name": "Evolution API escalo"
          }
        }
      }
    ],
    "connections": {
      "Webhook ESCALO": {
        "main": [
          [
            {
              "node": "1. Normalizar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "1. Normalizar": {
        "main": [
          [
            {
              "node": "Buscar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Lead": {
        "main": [
          [
            {
              "node": "Leer Stock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Stock": {
        "main": [
          [
            {
              "node": "Leer Negocio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto": {
        "main": [
          [
            {
              "node": "AI Clasificador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Anthropic Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Clasificador",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Clasificador": {
        "main": [
          [
            {
              "node": "Validar Salida IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Salida IA": {
        "main": [
          [
            {
              "node": "Guardar Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Lead": {
        "main": [
          [
            {
              "node": "Guardar Historial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Historial": {
        "main": [
          [
            {
              "node": "Ensamblar JSON Final",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Negocio": {
        "main": [
          [
            {
              "node": "Leer Historial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Historial": {
        "main": [
          [
            {
              "node": "Preparar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "WA → normalizado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WA → normalizado": {
        "main": [
          [
            {
              "node": "1. Normalizar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ensamblar JSON Final": {
        "main": [
          [
            {
              "node": "¿Enviar por WhatsApp?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Enviar por WhatsApp?": {
        "main": [
          [
            {
              "node": "Enviar WhatsApp",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar WhatsApp": {
        "main": [
          [
            {
              "node": "Responder Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "jair infante ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-10T17:49:34.862Z",
        "id": 17,
        "workflowId": "6IB9N46IpcmpnXmX",
        "versionId": "8e34be0a-7e87-4209-8570-8de23a5e807e",
        "event": "activated",
        "userId": "f1dc15be-63c7-4331-91ee-5eb8e585999c"
      }
    ]
  }
}